{% load i18n print_fields %}

<!DOCTYPE html>
<html>
<head>
<title>Maintenance Hybird &mdash; Nouveau projet</title>{# TMP #}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/create-project.css" />
<script src="/static/js/segmented-selector.js"></script>
</head>
<body>
    {% include "high_ui/dashboard_header.html" %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-content">
                    <div class="form-group">
                        <div class="group-title-container">
                            <div class="group-title">Nouveau projet</div>
                        </div>

                        <div class="form-row form-label-row {% if form.name.errors %}form-error{% endif %}">
                            {% if form.name.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.name.id_for_label}}">Compte &mdash; nom *</label>
                            {{form.name}}

                            {% if form.name.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.name.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help">Le nom du compte, pour les <em>intervenants Hybird</em> et les <em>clients du projet</em></div>

                        <div class="form-row form-label-row {% if form.maintenance_contact.errors %}form-error{% endif %}">
                            {% if form.maintenance_contact.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.maintenance_contact.id_for_label}}">Intervenant principal *</label>
                            {{form.maintenance_contact}}

                            {% if form.maintenance_contact.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.maintenance_contact.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help">Le nom de cet intervenant sera affiché comme <em>contact projet aux clients</em></div>
                    </div>

                    {% if form.non_field_errors %}
                    <div>
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        <button type="submit">Créer le projet</button>
                        <span class="cancel">ou <a href="#" onclick="window.history.back()">Ne pas créer</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
</body>
</html>
