{% extends 'high_ui/forms/create_user.html' %}

{% block phone_field %}
<div class="form-row form-label-row {% if form.phone.errors %}form-error{% endif %}">
    {% if form.phone.errors %}
    <div class="form-row-wrapper">
    {% endif %}

    <label for="{{form.phone.id_for_label}}">Téléphone</label>
    {{form.phone}}

    {% if form.phone.errors %}
    </div>
    {% endif %}

    {% for error in form.phone.errors %}
    <div class="form-error-text">{{error|escape}}</div>
    {% endfor %}
</div>
{% endblock %}
