{% load static %}
{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
{% block page_title %}{% endblock %}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/create-project.css" />
<link rel="stylesheet" href="/static/css/date-picker.css" />
<script src="/static/js/segmented-selector.js"></script>
<script src="/static/js/date-picker.js"></script>
</head>
<body>
    {% block header %}{% endblock %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-content">
                    <div class="form-group">
                        <div class="group-title-container">
                            {% block form_title %}{% endblock %}
                        </div>
                        <div class="form-row {% if form.company_name.errors %}form-error{% endif %}">
                            {% if form.company_name.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.company_name.id_for_label}}">{{form.company_name.label}}</label>
                            {{form.company_name}}

                            {% if form.company_name.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.company_name.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-row {% if form.contact.errors %}form-error{% endif %}">
                            {% if form.contact.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.contact.id_for_label}}">{{form.contact.label}}</label>
                            {{form.contact}}

                            {% if form.contact.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contact.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group activation-active counter-total">
                        <div class="group-title-container">
                            <div class="group-title">{% trans "Counter" %} {% block form_counter_name_1 %}{% endblock %}</div>
                            <a href="#" class="show-more" title="{% trans "Display more details about the counter" %}">{% trans "Display more details" %}</a>
                        </div>

                        <div class="form-row row-activation-type {% if form.contract1_visible.errors %}form-error{% endif %}">
                            {% if form.contract1_visible.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract1_visible.id_for_label}}">{{form.contract1_visible.label}}</label>
                            <section class="segmented-selector {{maintenance_types.0.css_class}}">
                                <a href="" class="active" data-selector-key="active" data-selector-value="1" title="">{% trans "Visible to everyone" %}</a>
                                <a href="" class="inactive" data-selector-key="hidden" data-selector-value="0" title="">{% trans "Invisible to managers" %}</a>
                                <a href="" class="inactive" data-selector-key="inactive" data-selector-value="-1" title="">{% trans "Disabled" %}</a>
				{{form.contract1_visible}}
                            </section>

                            {% if form.contract1_visible.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract1_visible.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help help-activation">
                            <span class='activation-active'>{% trans "This counter will be <em>visible for managers</em> of the project, and <em>usable by Hybird's operators</em> on the dashboard and for register new issues." %}</span>
                            <span class='activation-hidden'>{% trans "This counter will be <em>invisible for managers, but </em>usable by Hybird's operators</em> on the dashboard and for register new issues." %}</span>
                            <span class='activation-inactive'>{% trans "This counter will be <em>disabled</em> for the project" %}</span>
                        </div>

                        <div class="form-row row-counter-type {% if form.contract1_total_type.errors %}form-error{% endif %}">
                            {% if form.contract1_total_type.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract1_total_type.id_for_label}}">{{form.contract1_total_type.label}}</label>
                            <section class="segmented-selector {{maintenance_types.0.css_class}}">
                                <a href="" class="inactive" data-selector-key="credit" data-selector-value="0" title="">{% trans "Available total time" %}</a>
                                <a href="" class="active" data-selector-key="total" data-selector-value="1" title="">{% trans "Consumed total time" %}</a>
				{{form.contract1_total_type}}
                            </section>
                            {% if form.contract1_total_type.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract1_total_type.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row row-credit {% if form.contract1_number_hours.errors %}form-error{% endif %}">
                            {% if form.contract1_number_hours.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract1_number_hours.id_for_label}}">{{form.contract1_number_hours.label}} *</label>
			    {{form.contract1_number_hours}}

                            {% if form.contract1_number_hours.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract1_number_hours.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="help help-credit">
                            <span class="counter-total">{% trans "This counter will display the <em>consumed total time</em> by the registered issues by Hybird's operators" %}</span>
                            <span class="counter-credit">{% trans "This compteur will display the <em>available total time</em> on" %} {{maintenance_types.0.name}} {% trans "credited hours, that will be consumed by Hybird's operators by register an issues." %}</span>
                        </div>

                        <div class="show-more-container">
                            <div class="form-row {% if form.contract1_counter_name.errors %}form-error{% endif %}">
                                {% if form.contract1_counter_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{form.contract1_counter_name.id_for_label}}">{{form.contract1_counter_name.label}}</label>
                                {{form.contract1_counter_name}}

                                {% if form.contract1_counter_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract1_counter_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">{% trans "This counter can be renamed to replace the" %} <em>{{maintenance_types.0.name}}</em>{% trans "default name" %}</div>

                            <div class="form-row {% if form.contract1_date.errors %}form-error{% endif %}">
                                <label for="{{form.contract1_date.id_for_label}}">{{form.contract1_date.label}}</label>
                                {{form.contract1_date}}

                                {% if form.contract1_date.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract1_date.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">{% trans "Date when the contract begin." %}</div>
                        </div>
                    </div>

                    <div class="form-group activation-active counter-total">
                        <div class="group-title-container">
                            <div class="group-title">{% trans "Counter" %} {% block form_counter_name_2 %}{% endblock %}</div>
                            <a href="#" class="show-more" title="{% trans "Display more details about the counter" %}">{% trans "Display more details" %}</a>
                        </div>

                        <div class="form-row row-activation-type {% if form.contract2_visible.errors %}form-error{% endif %}">
                            {% if form.contract2_visible.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract2_visible.id_for_label}}">{{form.contract2_visible.label}}</label>
                            <section class="segmented-selector {{maintenance_types.0.css_class}}">
                                <a href="" class="active" data-selector-key="active" data-selector-value="1" title="">{% trans "Visible to everyone" %}</a>
                                <a href="" class="inactive" data-selector-key="hidden" data-selector-value="0" title="">{% trans "Invisible to managers" %}</a>
                                <a href="" class="inactive" data-selector-key="inactive" data-selector-value="-1" title="">{% trans "Disabled" %}</a>
				{{form.contract2_visible}}
                            </section>

                            {% if form.contract2_visible.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract2_visible.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help help-activation">
                            <span class='activation-active'>{% trans "This counter will be <em>visible for managers</em> of the project, and <em>usable by Hybird's operators</em> on the dashboard and for register new issues." %}</span>
                            <span class='activation-hidden'>{% trans "This counter will be <em>invisible for managers, but </em>usable by Hybird's operators</em> on the dashboard and for register new issues." %}</span>
                            <span class='activation-inactive'>{% trans "This counter will be <em>disabled</em> for the project" %}</span>
                        </div>

                        <div class="form-row row-counter-type {% if form.contract2_total_type.errors %}form-error{% endif %}">
                            {% if form.contract2_total_type.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract2_total_type.id_for_label}}">{{form.contract2_total_type.label}}</label>
                            <section class="segmented-selector {{maintenance_types.1.css_class}}">
                                <a href="" class="inactive" data-selector-key="credit" data-selector-value="0" title="">{% trans "Available total time" %}</a>
                                <a href="" class="active" data-selector-key="total" data-selector-value="1" title="">{% trans "Consumed total time" %}</a>
				{{form.contract2_total_type}}
                            </section>
                            {% if form.contract2_total_type.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract2_total_type.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row row-credit {% if form.contract2_number_hours.errors %}form-error{% endif %}">
                            {% if form.contract2_number_hours.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract2_number_hours.id_for_label}}">{{form.contract2_number_hours.label}} *</label>
			    {{form.contract2_number_hours}}

                            {% if form.contract2_number_hours.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract2_number_hours.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="help help-credit">
                            <span class="counter-total">{% trans "This counter will display the <em>consumed total time</em> by the registered issues by Hybird's operators" %}</span>
                            <span class="counter-credit">{% trans "This compteur will display the <em>available total time</em> on" %} {{maintenance_types.1.name}} {% trans "credited hours, that will be consumed by Hybird's operators by register an issues." %}</span>
                        </div>

                        <div class="show-more-container">
                            <div class="form-row {% if form.contract2_counter_name.errors %}form-error{% endif %}">
                                {% if form.contract2_counter_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{form.contract2_counter_name.id_for_label}}">{{form.contract2_counter_name.label}}</label>
                                {{form.contract2_counter_name}}

                                {% if form.contract2_counter_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract2_counter_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">{% trans "This counter can be renamed to replace the" %} <em>{{maintenance_types.1.name}}</em>{% trans "default name" %}</div>

                            <div class="form-row {% if form.contract2_date.errors %}form-error{% endif %}">
                                <label for="{{form.contract2_date.id_for_label}}">{{form.contract2_date.label}}</label>
                                {{form.contract2_date}}

                                {% if form.contract2_date.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract2_date.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">{% trans "Date when the contract begin." %}</div>
                        </div>
                    </div>

                    <div class="form-group activation-active counter-total">
                        <div class="group-title-container">
                            <div class="group-title">{% trans "Counter" %} {% block form_counter_name_3 %}{% endblock %}</div>
                            <a href="#" class="show-more" title="{% trans "Display more details about the counter" %}">{% trans "Display more details" %}</a>
                        </div>

                        <div class="form-row row-activation-type {% if form.contract3_visible.errors %}form-error{% endif %}">
                            {% if form.contract3_visible.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract3_visible.id_for_label}}">{{form.contract3_visible.label}}</label>
                            <section class="segmented-selector {{maintenance_types.2.css_class}}">
                                <a href="" class="active" data-selector-key="active" data-selector-value="1" title="">{% trans "Visible to everyone" %}</a>
                                <a href="" class="inactive" data-selector-key="hidden" data-selector-value="0" title="">{% trans "Invisible to managers" %}</a>
                                <a href="" class="inactive" data-selector-key="inactive" data-selector-value="-1" title="">{% trans "Disabled" %}</a>
				{{form.contract3_visible}}
                            </section>

                            {% if form.contract3_visible.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract3_visible.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help help-activation">
                            <span class='activation-active'>{% trans "This counter will be <em>visible for managers</em> of the project, and <em>usable by Hybird's operators</em> on the dashboard and for register new issues." %}</span>
                            <span class='activation-hidden'>{% trans "This counter will be <em>invisible for managers, but </em>usable by Hybird's operators</em> on the dashboard and for register new issues." %}</span>
                            <span class='activation-inactive'>{% trans "This counter will be <em>disabled</em> for the project" %}</span>
                        </div>

                        <div class="form-row row-counter-type {% if form.contract3_total_type.errors %}form-error{% endif %}">
                            {% if form.contract3_total_type.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract3_total_type.id_for_label}}">{{form.contract3_total_type.label}}</label>
                            <section class="segmented-selector {{maintenance_types.2.css_class}}">
                                <a href="" class="inactive" data-selector-key="credit" data-selector-value="0" title="">{% trans "Available total time" %}</a>
                                <a href="" class="active" data-selector-key="total" data-selector-value="1" title="">{% trans "Consumed total time" %}</a>
				{{form.contract3_total_type}}
                            </section>
                            {% if form.contract3_total_type.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract3_total_type.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row row-credit {% if form.contract3_number_hours.errors %}form-error{% endif %}">
                            {% if form.contract3_number_hours.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract3_number_hours.id_for_label}}">{{form.contract3_number_hours.label}} *</label>
			    {{form.contract3_number_hours}}

                            {% if form.contract3_number_hours.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract3_number_hours.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="help help-credit">
                            <span class="counter-total">{% trans "This counter will display the <em>consumed total time</em> by the registered issues by Hybird's operators" %}</span>
                            <span class="counter-credit">{% trans "This compteur will display the <em>available total time</em> on" %} {{maintenance_types.2.name}} {% trans "credited hours, that will be consumed by Hybird's operators by register an issues." %}</span>
                        </div>

                        <div class="show-more-container">
                            <div class="form-row {% if form.contract3_counter_name.errors %}form-error{% endif %}">
                                {% if form.contract3_counter_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{form.contract3_counter_name.id_for_label}}">{{form.contract3_counter_name.label}}</label>
                                {{form.contract3_counter_name}}

                                {% if form.contract3_counter_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract3_counter_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">{% trans "This counter can be renamed to replace the" %} <em>{{maintenance_types.2.name}}</em>{% trans "default name" %}</div>

                            <div class="form-row {% if form.contract3_date.errors %}form-error{% endif %}">
                                <label for="{{form.contract3_date.id_for_label}}">{{form.contract3_date.label}}</label>
                                {{form.contract3_date}}

                                {% if form.contract3_date.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract3_date.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">{% trans "Date when the contract begin." %}</div>
                        </div>
                    </div>


                    {% if form.non_field_errors %}
                    <div class="form-error">
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        {% block form_footer %}{% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        var activationTypes = document.querySelectorAll(".form-row.row-activation-type");
        for (var i = 0; i < activationTypes.length; ++i) {
            var activationType = activationTypes[i];
            new SegmentedSelector(activationType.querySelector(".segmented-selector"),
                                  function(node, currentKey, selectedKey) {
                var currentActivation = "activation-" + currentKey;
                var selectedActivation = "activation-" + selectedKey;

                var parent = node.parentElement;
                parent.className = parent.className.replace(currentActivation, selectedActivation);

                if (selectedActivation === "activation-inactive") {
                    var creditInput = parent.querySelector(".row-credit input");
                    creditInput.required = false;
                }
            }.bind(null, activationType));
        }

        var counterTypes = document.querySelectorAll(".form-row.row-counter-type");
        for (var i = 0; i < counterTypes.length; ++i) {
            var counterType = counterTypes[i];
            new SegmentedSelector(counterType.querySelector(".segmented-selector"),
                                  function (node, currentKey, selectedKey) {
                var currentType = "counter-" + currentKey;
                var selectedType = "counter-" + selectedKey;

                var parent = node.parentElement;
                parent.className = parent.className.replace(currentType, selectedType);

                var creditInput = parent.querySelector(".row-credit input");
                creditInput.required = selectedType === "counter-credit";
            }.bind(null, counterType));
        }
        
        var showMoreLinks = document.querySelectorAll(".form-group a.show-more");
        for (var i = 0; i < showMoreLinks.length; ++i) {
            var link = showMoreLinks[i];
            
            link.addEventListener("click", function (e) {
                e.preventDefault();
                
                var node = e.target;
                var formGroup = node.parentElement.parentElement;
                
                var showMoreContainer = formGroup.querySelector(".show-more-container");
                if (showMoreContainer.className.indexOf("is-showing") === -1) {
                    showMoreContainer.className += " is-showing";
                }
                
                node.parentElement.removeChild(node);
            }, false);
        }

        // setup date pickers
        var dateFields = ["{{form.contract1_date.id_for_label}}", "{{form.contract2_date.id_for_label}}", "{{form.contract3_date.id_for_label}}"];
        for (var i = 0; i < dateFields.length; ++i) {
            var fieldId = dateFields[i];
            new DatePicker(document.getElementById(fieldId));
        }
    </script>
</body>
</html>
