{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
{% block page_title %}{% endblock %}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/date-picker.css" />
<script src="/static/js/segmented-selector.js"></script>
<script src="/static/js/date-picker.js"></script>
<script src="/static/js/fast_click.js"></script>
{% if company.color %}
<style>
.disabled_consumer, .disabled_operator {
    display: none;
}
.dashboard.dark .dashboard-button a:hover, .dashboard.light .dashboard-button a:hover {
    background-color: white;
    color: {{company.color}};
}
</style>
{% endif %}
</head>
<body>
{% block header %}{% endblock %}
{% with default_activity_type=contracts.0.maintenance_type.css_class|default:"type-maintenance" %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-content">
                    <div class="form-group">
                        <div class="group-title-container">
                            {% block form_title %}{% endblock %}
                        </div>

                        <div class="form-row form-row-author {% if form.consumer_who_ask.errors %}form-error{% endif %}">
                            {% if form.consumer_who_ask.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.consumer_who_ask.id_for_label}}">{{form.consumer_who_ask.label}}</label>
                            <select name="{{form.consumer_who_ask.name}}" id="{{form.consumer_who_ask.id_for_label}}">
                            {% for consumer_who_ask in form.consumer_who_ask %}
                                <option value="{{consumer_who_ask.data.value}}" {{consumer_who_ask.data.value|hide_disabled_consumer}} {% if consumer_who_ask.data.selected %} selected{% endif %}>{{consumer_who_ask.data.label}}</option>
                            {% endfor %}
                            </select>

                            {% if form.consumer_who_ask.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.consumer_who_ask.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-row">
                            <label></label>
                            <input type="checkbox" name="disabled_consumers" onclick="toggleDisabledUsers(this, '.disabled_consumer');">
                            <span> {% trans "Display disable employees" %}</span>
                        </div>

                        <div class="form-row {% if form.date.errors %}form-error{% endif %}">
                            {% if form.date.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.date.id_for_label}}">{{form.date.label}} *</label>
                            {{form.date}}

                            {% if form.date.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.date.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        {% if channels %}
                        <div class="form-row {% if form.incoming_channel.errors %}form-error{% endif %}">
                            {% if form.incoming_channel.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.incoming_channel.id_for_label}}">{{form.incoming_channel.label}}</label>
                            <section class="segmented-selector type-maintenance selector-canal">
                                {% for channel in channels %}
                                <a href="" class="{% if forloop.first %}active{% else %}inactive{% endif %}"
                                   data-selector-value="{{channel.pk}}" title="{% trans "Issue received by" %} {{channel.name}}">{{channel.name}}</a>
                                {% endfor %}
                                {{form.incoming_channel}}
                            </section>

                            {% if form.incoming_channel.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.incoming_channel.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="form-row form-label-row {% if form.subject.errors %}form-error{% endif %}">
                            {% if form.subject.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.subject.id_for_label}}">{{form.subject.label}} *</label>
                            {{form.subject}}

                            {% if form.subject.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.subject.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.description.errors %}form-error{% endif %}">
                            {% if form.description.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.description.id_for_label}}">{{form.description.label}}</label>
                            {{form.description}}

                            {% if form.description.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.description.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.context_description_file.errors %}form-error{% endif %}">
                            {% if form.context_description_file.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.context_description_file.id_for_label}}">{{form.context_description_file.label}}</label>
                            {{form.context_description_file}}

                            {% if form.context_description_file.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.context_description_file.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="group-title-container">
                            <div class="group-title">{% trans "Resolution" %}</div>
                        </div>

                        <div class="form-row {% if form.user_who_fix.errors %}form-error{% endif %}">
                            {% if form.user_who_fix.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.user_who_fix.id_for_label}}">{{form.user_who_fix.label}}</label>
                            <select name="{{form.user_who_fix.name}}" id="{{form.user_who_fix.id_for_label}}">
                            {% for user_who_fix in form.user_who_fix %}
                                <option value="{{user_who_fix.data.value}}" {{user_who_fix.data.value|hide_disabled_operator}} {% if user_who_fix.data.selected %} selected{% endif %}>{{user_who_fix.data.label}}</option>
                            {% endfor %}
                            </select>

                            {% if form.user_who_fix.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.user_who_fix.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-row">
                            <label></label>
                            <input type="checkbox" name="disabled_operators" onclick="toggleDisabledUsers(this, '.disabled_operator');">
                            <span> {% trans "Display disable operators" %}</span>
                        </div>

                        <div class="form-row">
                            <label for="{{form.maintenance_type.id_for_label}}">{{form.contract.label}}</label>
                            <section class="segmented-selector {{default_activity_type}} selector-activity-type">
                                {% for contract in contracts %}
                                <a href="" class="{% if forloop.first %}active{% else %}inactive{% endif %}"
                                   data-selector-key="{{contract.maintenance_type.css_class}}"
                                   data-selector-value="{{contract.pk}}"
                                   title="{% blocktrans with mtype=contract.get_counter_name %}'{{mtype}}'-type activity{% endblocktrans %}">{{contract.get_counter_name}}</a>
                                {% endfor %}
                                {{form.contract}}
                            </section>
                        </div>

                        <div class="form-row form-row-duration {% if form.duration.errors %}form-error{% endif %}">
                            {% if form.duration.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.duration.id_for_label}}">{{form.duration.label}} *</label>
                            <div class="form-value">
                                {{form.duration}}
                                <section class="segmented-selector {{default_activity_type}} selector-duration-type">
                                    <a href="" class="active" data-selector-value="minutes">{% trans "minutes" %}</a>
                                    <a href="" class="inactive" data-selector-value="hours">{% trans "hours" %}</a>
                                    {{form.duration_type}}
                                </section>
                            </div>

                            {% if form.duration.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.number_minutes.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row {% if form.resolution_date.errors %}form-error{% endif %}">
                            {% if form.resolution_date.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.resolution_date.id_for_label}}">{{form.resolution_date.label}}</label>
                            {{form.resolution_date}}

                            {% if form.resolution_date.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.resolution_date.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row {% if form.shipping_date.errors %}form-error{% endif %}">
                            {% if form.shipping_date.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.shipping_date.id_for_label}}">{{form.shipping_date.label}}</label>
                            {{form.shipping_date}}

                            {% if form.shipping_date.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.shipping_date.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.answer.errors %}form-error{% endif %}">
                            {% if form.answer.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.answer.id_for_label}}">{{form.answer.label}}</label>
                            {{form.answer}}

                            {% if form.answer.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.answer.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.resolution_description_file.errors %}form-error{% endif %}">
                            {% if form.resolution_description_file.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.resolution_description_file.id_for_label}}">{{form.resolution_description_file.label}}</label>
                            {{form.resolution_description_file}}

                            {% if form.resolution_description_file.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.resolution_description_file.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if form.non_field_errors %}
                    <div>
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        {% block form_footer %}{% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endwith %}
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        {% if channels %}
        var canalSelector = new SegmentedSelector (document.querySelector(".selector-canal"));
        {% endif %}
        var activityDurationSelector = new SegmentedSelector (document.querySelector(".selector-duration-type"));

        var activityTypeSelector = new SegmentedSelector (document.querySelector(".selector-activity-type"),
                                                          function (currentKey, selectedKey) {
            var currentType = currentKey;
            var selectedType = selectedKey;
  
            var typeDependentElements = document.querySelectorAll("." + currentType);
            for (var j = 0; j < typeDependentElements.length; ++j) {
                typeDependentElements[j].className = typeDependentElements[j].className.replace(currentType, selectedType);
            }
        });

        // setup date pickers
        var dateFields = ["{{form.date.id_for_label}}", "{{form.resolution_date.id_for_label}}", "{{form.shipping_date.id_for_label}}"];
        for (var i = 0; i < dateFields.length; ++i) {
            var fieldId = dateFields[i];
            new DatePicker(document.getElementById(fieldId));
        }
        function toggleDisabledUsers(checkbox, css_class){
            var elements = document.querySelectorAll(css_class);
            if (checkbox.checked == true) {
                for (var i = 0; i < elements.length; ++i) {
                    elements[i].style.display = "block";
                }
            }
            else {
                for (var i = 0; i < elements.length; ++i) {
                    elements[i].style.display = "none";
                }
            }
        }

        document.getElementById('{{form.context_description_file.id_for_label}}-reset').onclick= function() {
            var field= document.getElementById('{{form.context_description_file.id_for_label}}');
            field.value= field.defaultValue;
        };

        document.getElementById('{{form.resolution_description_file.id_for_label}}-reset').onclick= function() {
            var field= document.getElementById('{{form.resolution_description_file.id_for_label}}');
            field.value= field.defaultValue;
        };
        new ForbiddenFastClick(document);
    </script>
</body>
</html>
