{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
{% block page_title %}{% endblock %}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
</head>
<body>
    {% block header %}{% endblock %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post">
                {% csrf_token %}

                <div class="form-content auto-min-height">
                    <div class="form-group">
                        <div class="group-title-container">
                            {% block form_title %}{% endblock %}
                        </div>

                        <div class="form-row form-label-row {% if form.first_name.errors %}form-error{% endif %}">
                            {% if form.first_name.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.first_name.id_for_label}}">Prénom *</label>
                            {{form.first_name}}

                            {% if form.first_name.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.first_name.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.last_name.errors %}form-error{% endif %}">
                            {% if form.last_name.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.last_name.id_for_label}}">Nom *</label>
                            {{form.last_name}}

                            {% if form.last_name.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.last_name.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        {% block phone_field %}{% endblock %}
                    </div>

                    <div class="form-group">
                        <div class="group-title-container">
                            <div class="group-title">Compte utilisateur</div>
                        </div>

                        <div class="form-row form-label-row {% if form.email.errors %}form-error{% endif %}">
                            {% if form.email.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.email.id_for_label}}">E-mail *</label>
                            {{form.email}}

                            {% if form.email.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.email.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.password.errors %}form-error{% endif %}">
                            {% if form.password.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.password.id_for_label}}">Mot de passe *</label>
                            {{form.password}}

                            {% if form.password.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.password.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if form.non_field_errors %}
                    <div>
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        {% block form_footer %}{% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
</body>
</html>
