{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
{% block page_title %}{% endblock %}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/buy.css" />
<script src="/static/js/segmented-selector.js"></script>
</head>
<style>
.form-row.hidden {
    display: none;
}
{% if company.color %}
.dashboard.dark .dashboard-button a:hover, .dashboard.light .dashboard-button a:hover {
    background-color: white;
    color: {{company.color}};
}
{% endif %}
</style>
<body>
{% with default_activity_type=available_time_contracts.0.maintenance_type.css_class|default:"type-maintenance" %}
{% include "high_ui/company_details_header.html" %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-content auto-min-height">
                    <div class="form-group">
                        <div class="group-title-container">
                            {% block form_title %}{% endblock %}
                            <label>{% trans "Client account" %}</label>
                            <span>{{company}}</span>
                        </div>
                        <div class="form-row">
                            <label for="{{form.hours_number.id_for_label}}">{{form.hours_number.label}} *</label>
                            <section class="segmented-selector {{default_activity_type}} selector-hours_number">
                            {% block hours_number_a %}{% endblock %}
                            </section>
                        </div>
                        <div class="form-row form-row-custom-hours-number {% if form.hours_number.errors %}form-error{% endif %}">
                            {% if form.hours_number.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.hours_number.id_for_label}}"></label>
                            {{form.hours_number}}&nbsp;H

                            {% if form.hours_number.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.hours_number.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row">
                            <label for="{{form.contract.id_for_label}}">{{form.contract.label}} *</label>
                            <section class="segmented-selector {{default_activity_type}} selector-activity-type">
                                {% for contract in available_time_contracts %}
                                <a href="" class="{% if forloop.first %}active{% else %}inactive{% endif %}"
                                   data-selector-key="{{contract.maintenance_type.css_class}}"
                                   data-selector-value="{{contract.id}}"
                                   title="{% blocktrans with mtype=contract.get_counter_name %}{{mtype}}-type activity{% endblocktrans %}">{{contract.get_counter_name}}</a>
                                {% endfor %}
                                {{form.contract}}
                            </section>
                        </div>

                        <div class="form-row form-label-row {% if form.subject.errors %}form-error{% endif %}">
                            {% if form.subject.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.subject.id_for_label}}">{{form.subject.label}} {% trans "(optional)" %}</label>
                            {{form.subject}}

                            {% if form.subject.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.subject.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if form.non_field_errors %}
                    <div>
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        {% block form_footer %}{% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endwith %}
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        var hoursSelector = document.querySelector(".selector-hours_number");
        new SegmentedSelector (hoursSelector, function (currentKey, selectedKey) {
            var customHoursNumber = document.querySelector(".form-row-custom-hours-number");
            if (selectedKey == "custom-value") {
                customHoursNumber.classList.remove("hidden");
            } else {
                customHoursNumber.classList.add("hidden");
            }
        }, document.querySelector(".form-row-custom-hours-number input"));

        var activityTypeSelector = new SegmentedSelector (document.querySelector(".selector-activity-type"),
                                                          function (currentKey, selectedKey) {
            var currentType = currentKey;
            var selectedType = selectedKey;
  
            var typeDependentElements = document.querySelectorAll("." + currentType);
            for (var j = 0; j < typeDependentElements.length; ++j) {
                typeDependentElements[j].className = typeDependentElements[j].className.replace(currentType, selectedType);
            }
        });
    </script>
    <script src="/static/js/fast_click.js"></script>
</body>
</html>
