{% load static %}
{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
{% block page_title %}{% endblock %}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/create-project.css" />
<link rel="stylesheet" href="/static/css/date-picker.css" />
<script src="/static/js/segmented-selector.js"></script>
<script src="/static/js/date-picker.js"></script>
</head>
<body>
    {% block header %}{% endblock %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-content">
                    <div class="form-group">
                        <div class="group-title-container">
                            {% block form_title %}{% endblock %}
                        </div>
                        <h1>{{form.errors}}</h1>
                        <div class="form-row {% if form.company_name.errors %}form-error{% endif %}">
                            {% if form.company_name.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.company_name.id_for_label}}">Compte</label>
                            {{form.company_name}}

                            {% if form.company_name.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.company_name.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group activation-active counter-total">
                        <div class="group-title-container">
                            <div class="group-title">Compteur {% block form_counter_name_1 %}{% endblock %}</div>
                            <a href="#" class="show-more" title="Afficher plus de détails pour ce compteur">Afficher plus de détails</a>
                        </div>

                        <div class="form-row row-activation-type {% if form.contract1_visible.errors %}form-error{% endif %}">
                            {% if form.contract1_visible.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract1_visible.id_for_label}}">Compteur</label>
                            <section class="segmented-selector {{maintenance_types.0.css_class}}">
                                <a href="" class="active" data-selector-key="active" data-selector-value="1" title="">Visible à tous</a>
                                <a href="" class="inactive" data-selector-key="hidden" data-selector-value="0" title="">Invisible aux clients</a>
                                <a href="" class="inactive" data-selector-key="inactive" data-selector-value="-1" title="">Inactif</a>
				{{form.contract1_visible}}
                            </section>

                            {% if form.contract1_visible.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract1_visible.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help help-activation">
                            <span class='activation-active'>Ce compteur sera <em>visible par les managers</em> du projet, et <em>utilisable par les intervenants Hybird</em> dans les tableaux de bord et pour enregistrer des demandes.</span>
                            <span class='activation-hidden'>Ce compteur sera <em>invisible aux managers</em>, mais <em>utilisable par les intervenants Hybird</em> dans les tableaux de bord et pour enregistrer des demandes.</span>
                            <span class='activation-inactive'>Ce compteur sera <em>désactivé</em> pour ce projet.</span>
                        </div>

                        <div class="form-row row-counter-type {% if form.contract1_total_type.errors %}form-error{% endif %}">
                            {% if form.contract1_total_type.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract1_total_type.id_for_label}}">Type de compteur</label>
                            <section class="segmented-selector {{maintenance_types.0.css_class}}">
                                <a href="" class="inactive" data-selector-key="credit" data-selector-value="0" title="">Total disponible</a>
                                <a href="" class="active" data-selector-key="total" data-selector-value="1" title="">Total du temps passé</a>
				{{form.contract1_total_type}}
                            </section>
                            {% if form.contract1_total_type.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract1_total_type.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row row-credit {% if form.contract1_number_hours.errors %}form-error{% endif %}">
                            {% if form.contract1_number_hours.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract1_number_hours.id_for_label}}">Heures créditées *</label>
			    {{form.contract1_number_hours}}

                            {% if form.contract1_number_hours.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract1_number_hours.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="help help-credit">
                            <span class="counter-total">Ce compteur affichera le <em>total du temps passé</em> sur les demandes enregistrées par les intervenants Hybird.</span>
                            <span class="counter-credit">Ce compteur affichera le <em>temps restant disponible</em> sur les heures <em>de {{maintenance_types.0.name}} créditées</em>, et qui sera consommé par les intervenants Hybird en enregistrant des demandes.</span>
                        </div>

                        <div class="show-more-container">
                            <div class="form-row {% if form.contract1_counter_name.errors %}form-error{% endif %}">
                                {% if form.contract1_counter_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{form.contract1_counter_name.id_for_label}}">Nom du compteur</label>
                                {{form.contract1_counter_name}}

                                {% if form.contract1_counter_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract1_counter_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">Ce compteur peut être renommé pour remplacer son nom par défaut de <em>{{maintenance_types.0.name}}</em>.</div>

                            <div class="form-row {% if form.contract1_date.errors %}form-error{% endif %}">
                                <label for="{{form.contract1_date.id_for_label}}">Date de début</label>
                                {{form.contract1_date}}

                                {% if form.contract1_date.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract1_date.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">La date à laquelle ce contrat débute.</div>
                        </div>
                    </div>

                    <div class="form-group activation-active counter-total">
                        <div class="group-title-container">
                            <div class="group-title">Compteur {% block form_counter_name_2 %}{% endblock %}</div>
                            <a href="#" class="show-more" title="Afficher plus de détails pour ce compteur">Afficher plus de détails</a>
                        </div>

                        <div class="form-row row-activation-type {% if form.contract2_visible.errors %}form-error{% endif %}">
                            {% if form.contract2_visible.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract2_visible.id_for_label}}">Compteur</label>
                            <section class="segmented-selector {{maintenance_types.1.css_class}}">
                                <a href="" class="active" data-selector-key="active" data-selector-value="1" title="">Visible à tous</a>
                                <a href="" class="inactive" data-selector-key="hidden" data-selector-value="0" title="">Invisible aux clients</a>
                                <a href="" class="inactive" data-selector-key="inactive" data-selector-value="-1" title="">Inactif</a>
				{{form.contract2_visible}}
                            </section>

                            {% if form.contract2_visible.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract2_visible.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help help-activation">
                            <span class='activation-active'>Ce compteur sera <em>visible par les managers</em> du projet, et <em>utilisable par les intervenants Hybird</em> dans les tableaux de bord et pour enregistrer des demandes.</span>
                            <span class='activation-hidden'>Ce compteur sera <em>invisible aux managers</em>, mais <em>utilisable par les intervenants Hybird</em> dans les tableaux de bord et pour enregistrer des demandes.</span>
                            <span class='activation-inactive'>Ce compteur sera <em>désactivé</em> pour ce projet.</span>
                        </div>

                        <div class="form-row row-counter-type {% if form.contract2_total_type.errors %}form-error{% endif %}">
                            {% if form.contract2_total_type.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract2_total_type.id_for_label}}">Type de compteur</label>
                            <section class="segmented-selector {{maintenance_types.1.css_class}}">
                                <a href="" class="inactive" data-selector-key="credit" data-selector-value="0" title="">Total disponible</a>
                                <a href="" class="active" data-selector-key="total" data-selector-value="1" title="">Total du temps passé</a>
				{{form.contract2_total_type}}
                            </section>
                            {% if form.contract2_total_type.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract2_total_type.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row row-credit {% if form.contract2_number_hours.errors %}form-error{% endif %}">
                            {% if form.contract2_number_hours.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract2_number_hours.id_for_label}}">Heures créditées *</label>
			    {{form.contract2_number_hours}}

                            {% if form.contract2_number_hours.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract2_number_hours.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="help help-credit">
                            <span class="counter-total">Ce compteur affichera le <em>total du temps passé</em> sur les demandes enregistrées par les intervenants Hybird.</span>
                            <span class="counter-credit">Ce compteur affichera le <em>temps restant disponible</em> sur les heures <em>de {{maintenance_types.1.name}} créditées</em>, et qui sera consommé par les intervenants Hybird en enregistrant des demandes.</span>
                        </div>

                        <div class="show-more-container">
                            <div class="form-row {% if form.contract2_counter_name.errors %}form-error{% endif %}">
                                {% if form.contract2_counter_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{form.contract2_counter_name.id_for_label}}">Nom du compteur</label>
                                {{form.contract2_counter_name}}

                                {% if form.contract2_counter_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract2_counter_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">Ce compteur peut être renommé pour remplacer son nom par défaut de <em>{{maintenance_types.0.name}}</em>.</div>

                            <div class="form-row {% if form.contract2_date.errors %}form-error{% endif %}">
                                <label for="{{form.contract2_date.id_for_label}}">Date de début</label>
                                {{form.contract2_date}}

                                {% if form.contract2_date.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract2_date.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">La date à laquelle ce contrat débute.</div>
                        </div>
                    </div>

                    <div class="form-group activation-active counter-total">
                        <div class="group-title-container">
                            <div class="group-title">Compteur {% block form_counter_name_3 %}{% endblock %}</div>
                            <a href="#" class="show-more" title="Afficher plus de détails pour ce compteur">Afficher plus de détails</a>
                        </div>

                        <div class="form-row row-activation-type {% if form.contract3_visible.errors %}form-error{% endif %}">
                            {% if form.contract3_visible.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract3_visible.id_for_label}}">Compteur</label>
                            <section class="segmented-selector {{maintenance_types.2.css_class}}">
                                <a href="" class="active" data-selector-key="active" data-selector-value="1" title="">Visible à tous</a>
                                <a href="" class="inactive" data-selector-key="hidden" data-selector-value="0" title="">Invisible aux clients</a>
                                <a href="" class="inactive" data-selector-key="inactive" data-selector-value="-1" title="">Inactif</a>
				{{form.contract3_visible}}
                            </section>

                            {% if form.contract3_visible.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract3_visible.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help help-activation">
                            <span class='activation-active'>Ce compteur sera <em>visible par les managers</em> du projet, et <em>utilisable par les intervenants Hybird</em> dans les tableaux de bord et pour enregistrer des demandes.</span>
                            <span class='activation-hidden'>Ce compteur sera <em>invisible aux managers</em>, mais <em>utilisable par les intervenants Hybird</em> dans les tableaux de bord et pour enregistrer des demandes.</span>
                            <span class='activation-inactive'>Ce compteur sera <em>désactivé</em> pour ce projet.</span>
                        </div>

                        <div class="form-row row-counter-type {% if form.contract3_total_type.errors %}form-error{% endif %}">
                            {% if form.contract3_total_type.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract3_total_type.id_for_label}}">Type de compteur</label>
                            <section class="segmented-selector {{maintenance_types.2.css_class}}">
                                <a href="" class="inactive" data-selector-key="credit" data-selector-value="0" title="">Total disponible</a>
                                <a href="" class="active" data-selector-key="total" data-selector-value="1" title="">Total du temps passé</a>
				{{form.contract3_total_type}}
                            </section>
                            {% if form.contract3_total_type.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract3_total_type.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row row-credit {% if form.contract3_number_hours.errors %}form-error{% endif %}">
                            {% if form.contract3_number_hours.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

			    <label for="{{form.contract3_number_hours.id_for_label}}">Heures créditées *</label>
			    {{form.contract3_number_hours}}

                            {% if form.contract3_number_hours.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contract3_number_hours.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="help help-credit">
                            <span class="counter-total">Ce compteur affichera le <em>total du temps passé</em> sur les demandes enregistrées par les intervenants Hybird.</span>
                            <span class="counter-credit">Ce compteur affichera le <em>temps restant disponible</em> sur les heures <em>de {{maintenance_types.2.name}} créditées</em>, et qui sera consommé par les intervenants Hybird en enregistrant des demandes.</span>
                        </div>

                        <div class="show-more-container">
                            <div class="form-row {% if form.contract3_counter_name.errors %}form-error{% endif %}">
                                {% if form.contract3_counter_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{form.contract3_counter_name.id_for_label}}">Nom du compteur</label>
                                {{form.contract3_counter_name}}

                                {% if form.contract3_counter_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract3_counter_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">Ce compteur peut être renommé pour remplacer son nom par défaut de <em>{{maintenance_types.0.name}}</em>.</div>

                            <div class="form-row {% if form.contract3_date.errors %}form-error{% endif %}">
                                <label for="{{form.contract3_date.id_for_label}}">Date de début</label>
                                {{form.contract3_date}}

                                {% if form.contract3_date.errors %}
                                </div>
                                {% endif %}

                                {% for error in form.contract3_date.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help">La date à laquelle ce contrat débute.</div>
                        </div>
                    </div>


                    {% if form.non_field_errors %}
                    <div>
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        {% block form_footer %}{% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        var activationTypes = document.querySelectorAll(".form-row.row-activation-type");
        for (var i = 0; i < activationTypes.length; ++i) {
            var activationType = activationTypes[i];
            new SegmentedSelector(activationType.querySelector(".segmented-selector"),
                                  function(node, currentKey, selectedKey) {
                var currentActivation = "activation-" + currentKey;
                var selectedActivation = "activation-" + selectedKey;

                var parent = node.parentElement;
                parent.className = parent.className.replace(currentActivation, selectedActivation);

                if (selectedActivation === "activation-inactive") {
                    var creditInput = parent.querySelector(".row-credit input");
                    creditInput.required = false;
                }
            }.bind(null, activationType));
        }

        var counterTypes = document.querySelectorAll(".form-row.row-counter-type");
        for (var i = 0; i < counterTypes.length; ++i) {
            var counterType = counterTypes[i];
            new SegmentedSelector(counterType.querySelector(".segmented-selector"),
                                  function (node, currentKey, selectedKey) {
                var currentType = "counter-" + currentKey;
                var selectedType = "counter-" + selectedKey;

                var parent = node.parentElement;
                parent.className = parent.className.replace(currentType, selectedType);

                var creditInput = parent.querySelector(".row-credit input");
                creditInput.required = selectedType === "counter-credit";
            }.bind(null, counterType));
        }
        
        var showMoreLinks = document.querySelectorAll(".form-group a.show-more");
        for (var i = 0; i < showMoreLinks.length; ++i) {
            var link = showMoreLinks[i];
            
            link.addEventListener("click", function (e) {
                e.preventDefault();
                
                var node = e.target;
                var formGroup = node.parentElement.parentElement;
                
                var showMoreContainer = formGroup.querySelector(".show-more-container");
                if (showMoreContainer.className.indexOf("is-showing") === -1) {
                    showMoreContainer.className += " is-showing";
                }
                
                node.parentElement.removeChild(node);
            }, false);
        }

        // setup date pickers
        var dateFields = ["{{form.contract1_date.id_for_label}}", "{{form.contract2_date.id_for_label}}", "{{form.contract3_date.id_for_label}}"];
        for (var i = 0; i < dateFields.length; ++i) {
            var fieldId = dateFields[i];
            new DatePicker(document.getElementById(fieldId));
        }
    </script>
</body>
</html>
