{% extends 'high_ui/forms/create_user.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance Hybird &mdash; {% trans "New admin" %}</title>
{% endblock %}

{% block header %}
{% include "high_ui/dashboard_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "New admin" %}</div>
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Add this admin" %}</button>
<span class="cancel">{% trans "or" %} <a href="#" onclick="window.history.back()">{% trans "Don't add" %}</a></span>
{% endblock %}
