{% extends 'high_ui/forms/base_credit.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance {{general_info.name}} &mdash; {% blocktrans with name=company.name %}Add credits for {{name}}{% endblocktrans %}</title>
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "Add hours" %}</div>
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Add hours" %}</button>
<span class="cancel">{% trans "or" %} <a href="#" onclick="window.history.back()">{% trans "Don't add" %}</a></span>
{% endblock %}
