{% extends 'high_ui/forms/create_user.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance Hybird &mdash; {% trans "New manager of" %} {{company.name}}</title>
{% endblock %}

{% block header %}
{% include "high_ui/company_details_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "New manager" %}</div>
<label>{% trans "Client account" %}</label>
<span>{{company}}</span>
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Add this manager" %}</button>
<span class="cancel">{% trans "or" %} <a href="#" onclick="window.history.back()">{% trans "Don't add" %}</a></span>
{% endblock %}
