{% extends 'high_ui/forms/create_user.html' %}

{% block page_title %}
<title>Maintenance Hybird &mdash; Nouveau manager de {{company.name}}</title>
{% endblock %}

{% block header %}
{% include "high_ui/company_details_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">Nouveau manager</div>
<label>Compte client</label>
<span>{{company}}</span>
{% endblock %}

{% block form_footer %}
<button type="submit">Ajouter ce manager</button>
<span class="cancel">ou <a href="#" onclick="window.history.back()">Ne pas ajouter</a></span>
{% endblock %}
