{% load i18n print_fields %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
{% block page_title %}{% endblock %}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/create-project.css" />
{% if company.color %}
<style>
.dashboard.dark .dashboard-button a:hover, .dashboard.light .dashboard-button a:hover {
    background-color: white;
    color: {{company.color}};
}
</style>
{% endif %}
</head>
<body>
    {% block header %}{% endblock %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post">
                {% csrf_token %}

                <div class="form-content auto-min-height">
                    <div class="form-group">
                        <div class="group-title-container">
                            {% block form_title %}{% endblock %}
                        </div>

                        <div class="form-row form-label-row {% if form.first_name.errors %}form-error{% endif %}">
                            {% if form.first_name.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.first_name.id_for_label}}">{{form.first_name.label}} *</label>
                            {{form.first_name}}

                            {% if form.first_name.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.first_name.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.last_name.errors %}form-error{% endif %}">
                            {% if form.last_name.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.last_name.id_for_label}}">{{form.last_name.label}} *</label>
                            {{form.last_name}}

                            {% if form.last_name.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.last_name.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        {% if form.phone %}
                        <div class="form-row form-label-row {% if form.phone.errors %}form-error{% endif %}">
                            {% if form.phone.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}
                        
                            <label for="{{form.phone.id_for_label}}">{{form.phone.label}}</label>
                            {{form.phone}}
                        
                            {% if form.phone.errors %}
                            </div>
                            {% endif %}
                        
                            {% for error in form.phone.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form.is_staff %}
                        <div class="form-row {% if form.is_staff.errors %}form-error{% endif %}">
                            {% if form.is_staff.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            {{form.is_staff}}&nbsp;<label for="{{form.is_staff.id_for_label}}">{% trans "Is operator" %}</label>

                            {% if form.is_staff.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.is_staff.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help help-activation">
                            <span class='activation-active'>{% trans "Checks it, if the administrator is also an operator and will manage some projects." %}</span>
                        </div>
                        {% endif %}
                        {% block manager_form_customer_part %}{% endblock %}
                    </div>

                    <div class="form-group">
                        <div class="group-title-container">
                            <div class="group-title">{% trans "User account" %}</div>
                        </div>

                        <div class="form-row form-label-row {% if form.email.errors %}form-error{% endif %}">
                            {% if form.email.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.email.id_for_label}}">{{form.email.label}} *</label>
                            {{form.email}}

                            {% if form.email.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.email.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.password1.errors %}form-error{% endif %}">
                            {% if form.password1.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.password1.id_for_label}}">{% trans "Password" %} *</label>
                            {{form.password1}}

                            {% if form.password1.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.password1.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.password2.errors %}form-error{% endif %}">
                            {% if form.password2.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.password2.id_for_label}}">{% trans "Confirm password" %} *</label>
                            {{form.password2}}

                            {% if form.password2.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.password2.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if form.non_field_errors %}
                    <div>
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        {% block form_footer %}{% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script src="/static/js/error_message_required_fields.js"></script>
    <script>
        // setup error message for required fields
        ERROR_MESSAGE_REQUIRED_FIELDS.init([
            "{% blocktrans context "Form required field: force browser required-field error message when empty"%}Please fill out this field.{% endblocktrans %}"
        ]);
        ERROR_MESSAGE_REQUIRED_FIELDS.ErrorMessageRequiredFields();
    </script>
    <script src="/static/js/fast_click.js"></script>
</body>
</html>
