{% extends 'high_ui/forms/base_issue.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance Hybird &mdash; {% blocktrans %}{{company}} new issue{% endblocktrans %}</title> {# TMP #}
{% endblock %}

{% block header %}
{% include "high_ui/company_details_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "New issue" %}</div>
<label>{% trans "Client account" %}</label>
<span>{{company.name}}</span>
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Save issue" %}</button>
<span class="cancel">{% trans "or" %} <a href="#" onclick="window.history.back()">{% trans "Don't save" %}</a></span>
{% endblock %}
