{% load static %}
{% load i18n print_fields %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
<title>Maintenance {{general_info.name}} &mdash; {% blocktrans %}Customize {{company}} project{% endblocktrans %}</title> {# TMP #}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/create-project.css" />
<script src="/static/js/segmented-selector.js"></script>
<style>
.form-group.custom-color-inactive .row-color, .form-group.custom-color-inactive .row-dark-font-color {
    display: none;
}
{% if company.color %}
.dashboard.dark .dashboard-button a:hover, .dashboard.light .dashboard-button a:hover {
    background-color: white;
    color: {{company.color}};
}
{% endif %}
</style>
</head>
<body>
{% include "high_ui/company_details_header.html" %}
{% with default_activity_type=contracts.0.maintenance_type.css_class|default:"type-maintenance" %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-content">
                    <div class="form-group">
                        <div class="group-title-container">
                            <div class="group-title">{% blocktrans %}Project of the {{company}} society {% endblocktrans %}</div>
                        </div>
                        <div class="form-row {% if form.name.errors %}form-error{% endif %}">
                            {% if form.name.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                            {{form.name}}

                            {% if form.name.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.name.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-row {% if form.contact.errors %}form-error{% endif %}">
                            {% if form.contact.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.contact.id_for_label}}">{{form.contact.label}}</label>
                            {{form.contact}}

                            {% if form.contact.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.contact.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group customize-header custom-color-{% if company.color %}active{% else %}inactive{% endif %}">
                        <div class="group-title-container">
                            <div class="group-title">{% trans "Customize project header" %}</div>
                        </div>

                        <div class="form-row {% if form.has_custom_color.errors %}form-error{% endif %}">
                            {% if form.has_custom_color.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.has_custom_color.id_for_label}}">{{form.has_custom_color.label}} *</label>
                            <section class="segmented-selector {{default_activity_type}} selector-has_custom_color">
                                <a href="" class="active" data-selector-key="inactive" data-selector-value="False">{% trans "Default" %}</a>
                                <a href="" class="inactive" data-selector-key="active" data-selector-value="True">{% trans "Customized" context "fs" %}</a>
                                {{form.has_custom_color}}
                            </section>

                            {% if form.has_custom_color.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.has_custom_color.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-row row-color {% if form.color.errors %}form-error{% endif %}">
                            {% if form.color.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.color.id_for_label}}">{{form.color.label}}</label>
                            {{form.color}}

                            {% if form.color.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.color.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-row row-dark-font-color {% if form.dark_font_color.errors %}form-error{% endif %}">
                            {% if form.dark_font_color.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.dark_font_color.id_for_label}}">{{form.dark_font_color.label}} *</label>
                            <section class="segmented-selector {{default_activity_type}} selector-dark_font_color">
                                <a href="" class="active" data-selector-value="False">{% trans "light" %}</a>
                                <a href="" class="inactive" data-selector-value="True">{% trans "dark" %}</a>
                                {{form.dark_font_color}}
                            </section>

                            {% if form.dark_font_color.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.dark_font_color.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-row form-label-row {% if form.logo.errors %}form-error{% endif %}">
                            {% if form.logo.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.logo.id_for_label}}">{{form.logo.label}}</label>
                            {{form.logo}}

                            {% if form.logo.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.logo.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        <div class="help">
                            <span class='activation-inactive'>{% trans "Upload an image of your client logo. It will be displayed in the top left corner of the page in the project pages." %}</span>
                        </div>
                    </div>

                    {% if form.non_field_errors %}
                    <div class="form-error">
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        <button type="submit">{% trans "Modify this project" %}</button>
                        <span class="cancel">{% trans "or" %} <a href="{{previous_page}}">{% trans "Don't Modify" %}</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endwith %}
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        var FontColorSelector = new SegmentedSelector (document.querySelector(".selector-dark_font_color"));
        var HasCustomColorSelector = new SegmentedSelector (document.querySelector(".selector-has_custom_color"),
                                                            function(currentKey, selectedKey) {
                var currentActivation = "custom-color-" + currentKey;
                var selectedActivation = "custom-color-" + selectedKey;

                var parent = document.querySelector(".customize-header");
                parent.className = parent.className.replace(currentActivation, selectedActivation);
            }
        );
    </script>
    <script src="/static/js/fast_click.js"></script>
</body>
</html>
