{% extends 'high_ui/forms/base_issue.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance {{general_info.name}} &mdash; {% blocktrans with company=object.company.name counter=object.get_counter_name number=object.company_issue_number %}Modification of {{company}} {{counter}} issue #{{number}}{% endblocktrans %}</title> {# TMP #}
{% endblock %}

{% block header %}
{% include "high_ui/issue_details_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "Issue #" %}{{object.company_issue_number}}</div>
<label>{% trans "Client account" %}</label>
<span>{{object.company.name}}</span>
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Modify this issue" %}</button>
<span class="cancel">{% trans "or" %} <a href="{{previous_page}}">{% trans "Don't Modify" %}</a></span>
{% endblock %}
