{% extends 'high_ui/forms/base_issue.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance {{general_info.name}} &mdash; {% blocktrans with company=object.company.name counter=object.get_counter_name number=object.company_issue_number %}Modification of {{company}} {{counter}} issue #{{number}}{% endblocktrans %}</title> {# TMP #}
{% endblock %}

{% block header %}
{% include "high_ui/issue_details_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "Issue #" %}{{object.company_issue_number}}</div>
<label>{% trans "Client account" %}</label>
<span>{{object.company.name}}</span>
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Modify this issue" %}</button>
<span class="cancel">{% trans "or" %} <a href="{{previous_page}}">{% trans "Don't Modify" %}</a></span>
{% endblock %}

{% block disabled_consumers_checkbox %}
<div class="form-row checkbox-row">
    <label></label>
    <input type="checkbox" name="disabled_consumers">
    <span> {% trans "Display disable employees" %}</span>
</div>
{% endblock %}

{% block disabled_operators_checkbox %}
<div class="form-row checkbox-row">
    <label></label>
    <input type="checkbox" name="disabled_operators");">
    <span> {% trans "Display disable operators" %}</span>
</div>
{% endblock %}

{% block js_disabled_cons_op_checkbox %}
disabledConsumersButton = document.querySelector("input[name='disabled_consumers']");
disabledConsumersButton.addEventListener('change', function() {
    var element = document.querySelector("div.form-row-author");
    element.classList.toggle("disabled_consumers_hide");
});

disabledOperatorsButton = document.querySelector("input[name='disabled_operators']");
disabledOperatorsButton.addEventListener('change', function() {
    var element = document.querySelector("div.form-row-user-who-fix");
    element.classList.toggle("disabled_operators_hide");
});
{% endblock %}