{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
<title>Maintenance {{general_info.name}} &mdash; {% trans "Modify general information of"%} {{object.company.name}}</title> {# TMP #}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
</head>
<body>
    {% include "high_ui/dashboard_header.html" %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-content auto-min-height">
                    <div class="form-group">
                        <div class="group-title-container">
                            <div class="group-title">{% blocktrans with name=general_info.name %}Modification of {{name}}'s general informations{% endblocktrans %}</div>
                        </div>

                        <div class="form-row form-label-row {% if form.name.errors %}form-error{% endif %}">
                            {% if form.name.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.name.id_for_label}}">{{form.name.label}} *</label>
                            {{form.name}}

                            {% if form.name.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.name.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.email.errors %}form-error{% endif %}">
                            {% if form.email.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.email.id_for_label}}">{{form.email.label}} *</label>
                            {{form.email}}

                            {% if form.email.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.email.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.phone.errors %}form-error{% endif %}">
                            {% if form.phone.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.phone.id_for_label}}">{{form.phone.label}} *</label>
                            {{form.phone}}

                            {% if form.phone.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.phone.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.address.errors %}form-error{% endif %}">
                            {% if form.address.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.address.id_for_label}}">{{form.address.label}} *</label>
                            {{form.address}}

                            {% if form.address.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.address.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        <div class="form-row form-label-row {% if form.website.errors %}form-error{% endif %}">
                            {% if form.website.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}

                            <label for="{{form.website.id_for_label}}">{{form.website.label}} *</label>
                            {{form.website}}

                            {% if form.website.errors %}
                            </div>
                            {% endif %}

                            {% for error in form.website.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                    </div>

                    {% if form.non_field_errors %}
                    <div>
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        <button type="submit">{% trans "Modify this information" %}</button>
                        <span class="cancel">{% trans "or" %} <a href="{{previous_page}}">{% trans "Don't Modify" %}</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script src="/static/js/fast_click.js"></script>
</body>
</html>
