{% extends 'high_ui/forms/update_user.html' %}

{% block page_title %}
<title>Maintenance Hybird &mdash; {{object.company.name}}, modification du manager </title> {# TMP #}
{% endblock %}

{% block header %}
{% include "high_ui/company_details_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">Modification de l'intervenant</div>
<label>Compte client</label>
<span>{{company}}</span>
{% endblock %}

{% block profile_form_title %}
<div class="group-title" title="Afficher/cacher le formulaire de modification de profil">Modifier le profil</div>
{% endblock %}

{% block profile_form_footer %}
<button type="submit">Modifier les informations</button>
<span class="cancel">ou <a href="#" onclick="window.history.back()">Ne pas modifier</a></span>
{% endblock %}

{% block password_form_title %}
<div class="group-title" title="Afficher/cacher le formulaire de modification de mot de passe">Modifier le mot de passe</div>
{% endblock %}

{% block password_form_footer %}
<button type="submit">Modifier le mot de passe</button>
<span class="cancel">ou <a href="#" onclick="window.history.back()">Ne pas modifier</a></span>
{% endblock %}
