{% extends 'high_ui/forms/update_users.html' %}
{% load i18n print_fields %}

{% block page_title %}
<title>Maintenance {{general_info.name}} &mdash; {% trans "Modify operator list" %}</title> {# TMP #}
{% endblock %}

{% block form_title %}
<div class="group-title">{% blocktrans with name=general_info.name %}Modify operator list of {{name}}{% endblocktrans %}</div>
{% endblock %}

{% block archive_form_post_url %}
{% url 'high_ui:archive_operators' %}
{% endblock %}

{% block archive_form_title %}
<div class="group-title" title="{% trans "Display/hide active-operator list" %}">{% trans "Archive operators" %}</div>
{% endblock %}

{% block archive_form_multiple_users_help %}
<span class="list-intro">{% blocktrans with name=general_info.name %}Select operators that you want to be inactive, among the {{active_users_number}} active {{name}}'s operators:{% endblocktrans %}</span>
{% endblock %}

{% block archive_form_single_user_help %}
<span class="list-intro">{% blocktrans with name=general_info.name %}Select the single {{name}}'s active operator to turn them archived:{% endblocktrans %}</span>
{% endblock %}

{% block archive_form_user_link %}
{% url 'high_ui:update_operator' pk=value %}
{% endblock %}

{% block archive_form_footer %}
<button type="submit">{% trans "Archive this operators" %}</button>
{% endblock %}

{% block unarchive_form_post_url %}
{% url 'high_ui:unarchive_operators' %}
{% endblock %}

{% block unarchive_form_title %}
<div class="group-title" title="{% trans "Display/hide archived-operator list" %}">{% trans "Reactive archived operators" %}</div>
{% endblock %}

{% block unarchive_form_multiple_users_help %}
<span class="list-intro">{% blocktrans with name=general_info.name %}Select operators that you want to be active, among the {{archived_users_number}} archived {{name}}'s operators:{% endblocktrans %}</span>
{% endblock %}

{% block unarchive_form_single_user_help %}
<span class="list-intro">{% blocktrans with name=general_info.name %}Select the single {{name}}'s archived operator to turn them active:{% endblocktrans %}</span>
{% endblock %}

{% block unarchive_form_footer %}
<button type="submit">{% trans "Enable operators" %}</button>
{% endblock %}
