{% load static %}
{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
{% block page_title %}{% endblock %}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/edit-list.css" />
{% if company.color %}
<style>
.dashboard.dark .dashboard-button a:hover, .dashboard.light .dashboard-button a:hover {
    background-color: white;
    color: {{company.color}};
}
</style>
{% endif %}
</head>
<body>
    {% include "high_ui/company_details_header.html" %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-content">
                    <div class="form-group">
                        <div class="group-title-container">
                            {% block form_title %}{% endblock %}
                            <label>{% trans "Client account" %}</label>
                            <span>{{company.name}}</span>
                        </div>

                        <div>
                            {% block form_details %}{% endblock %}
                            <ul class="checkbox-list">
                            {% for user in form.users %}
                                <li>
                                    <label>
                                        <input value="{{user.data.value}}" name="users" {% if user.data.selected %} checked='' {% endif %} type="checkbox"> 
                                        <div class="item-container">
                                            {% block item_label %}{% endblock %}
                                        </div>
                                    </label>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-footer">
                        {% block form_footer %}{% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script src="/static/js/fast_click.js"></script>
</body>
</html>
