{% extends 'high_ui/forms/update_list_base.html' %}

{% block page_title %}
<title>Maintenance Hybird &mdash; Modifier la liste des managers de {{company.name}}</title> {# TMP #}
{% endblock %}

{% block form_title %}
<div class="group-title">Modifier la liste des managers</div>
{% endblock %}

{% block form_details %}
Sélectionner les managers pour ce projet, parmi les {{company.maintenanceuser_set.get_manager_users_queryset.count}} existants:
{% endblock %}

{% block item_label %}
<div class="item-name">{{user.data.label}} {% if user.data.selected %}<span class="typography dash">&mdash;</span> manager du projet</div>{% endif %}
<div class="item-description">{{user.data.label.email}}</div>
{% endblock %}

{% block form_footer %}
<button type="submit">Modifier la liste des managers</button>
<span class="cancel">ou <a href="#" onclick="window.history.back()">Ne pas modifier</a></span>
{% endblock %}
