{% extends 'high_ui/forms/update_list_base.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance {{general_info.name}} &mdash; {% trans "Modify employee list of" %} {{company.name}}</title> {# TMP #}
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "Modify employee list" %}</div>
{% endblock %}

{% block form_details %}
{% blocktrans with nb=company.maintenanceconsumer_set.all.count %}Select the consumers of this project, among the {{nb}} already existing:{% endblocktrans %}
{% endblock %}

{% block item_label %}
<a href='{% url 'high_ui:project-update_consumer' company_name=company.slug_name pk=user.data.value %}'>
<div class="item-name">{{user.data.label}} {% if user.data.selected %}<span class="typography dash">&mdash;</span> {% trans "employee of this project" %}</div>{% endif %}
</a>
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Modify employee list" %}</button>
<span class="cancel">{% trans "or" %} <a href="{{previous_page}}">{% trans "Don't Modify" %}</a></span>
{% endblock %}
