{% extends 'high_ui/forms/base_consumer.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance {{general_info.name}} &mdash; {% trans "Modify employee of"%} {{object.company.name}}</title> {# TMP #}
{% endblock %}

{% block header %}
{% include "high_ui/company_details_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "Modification of this employee" %}</div>
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Modify this employee" %}</button>
<span class="cancel">{% trans "or" %} <a href="{{previous_page}}">{% trans "Don't Modify" %}</a></span>
{% endblock %}
