{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
{% block page_title %}{% endblock %}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/edit-list.css" />
<link rel="stylesheet" href="/static/css/edit-operators.css" />
<style>
.help em {
    font-style: normal;
    font-weight: 600;
    color: #2f2f2f;
}
</style>
</head>
<body>
    {% include "high_ui/dashboard_header.html" %}
    <div class="content-container">
        <div class="content">
            <div class="form-content">
                <div class="form-intro">
                    <div class="group-title-container">
                        {% block form_title %}{% endblock %}
                    </div>
                </div>
                {%  if admins_list %}
                <span class="help no-operator">
                    <p>{% blocktrans %}The operators of your HyMaintenance are all <em>administrators</em> with operator function, who are: {{ admins_list }}.{% endblocktrans %}</p>
                    <p>{% blocktrans %}Administrator can't be update with this form.{% endblocktrans %}</p>
                    <p>{% blocktrans %}Please use the <em><a href"{{ admin_url }}">administration page</a></em> if you want to update administrators with operator function no not.{% endblocktrans %}</p>
                </span>
                {%  endif %}
                {% if active_users_number %}
                <form action="{% block archive_form_post_url %}{% endblock %}" method="post">
                    {% csrf_token %}
                    <div class="form-group archive-group form-group-collapsable">
                        <div class="group-title-container">
                            {% block archive_form_title %}{% endblock %}
                        </div>

                        <div class="form-group-collapsable-content">
                            {% if active_users_number > 1%}
                            {% block archive_form_multiple_users_help %}{% endblock %}
                            {% else %}
                            {% block archive_form_single_user_help %}{% endblock %}
                            {% endif %}
                            <ul class="checkbox-list">
                            {% for value, label in archive_form.active_users.field.choices %}
                                <li>
                                    <label>
                                        <input value="{{value}}" name="active_users" type="checkbox"> 
                                        <div class="item-container">
                                            <a href='{% block archive_form_user_link %}{% endblock %}'>
                                            <div class="item-name">
                                                {{label.0}}
                                            </div>
                                            <div class="item-description">{% trans "Operator" %} <span class="typography dash">&mdash;</span> {{label.1}}</div>
                                            </a>
                                        </div>
                                    </label>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-footer">
                        {% block archive_form_footer %}{% endblock %}
                        <span class="cancel">{% trans "or" %} <a href="{{previous_page}}">{% trans "Change nothing" %}</a></span>
                    </div>
                </form>
                {% endif %}
                {% if archived_users_number %}
                <form action="{% block unarchive_form_post_url %}{% endblock %}" method="post">
                    {% csrf_token %}
                    <div class="form-group reactivate-form form-group-collapsable form-group-collapsed">
                        <div class="group-title-container">
                            {% block unarchive_form_title %}{% endblock %}
                        </div>

                        <div class="form-group-collapsable-content">
                            {% if archived_users_number > 1%}
                            {% block unarchive_form_multiple_users_help %}{% endblock %}
                            {% else %}
                            {% block unarchive_form_single_user_help %}{% endblock %}
                            {% endif %}
                            <ul class="checkbox-list">
                            {% for value, label in unarchive_form.inactive_users.field.choices %}
                                <li>
                                    <label>
                                        <input value="{{value}}" name="inactive_users" type="checkbox"> 
                                        <div class="item-container">
                                            <div class="item-name">
                                                {{label.0}}
                                            </div>
                                            <div class="item-description">{% trans "Operator" %} <span class="typography dash">&mdash;</span> {{label.1}}</div>
                                        </div>
                                    </label>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-footer">
                        {% block unarchive_form_footer %}{% endblock %}
                        <span class="cancel">{% trans "or" %} <a href="{{previous_page}}">{% trans "Change nothing" %}</a></span>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        var collapsableTriggers = document.querySelectorAll("form .group-title");
        for (var i = 0; i < collapsableTriggers.length; ++i) {
            var trigger = collapsableTriggers[i];
            trigger.addEventListener("click", function(e) {
                var className = "form-group-collapsed";
                
                var collapsable = this.parentElement.parentElement;                
                if (collapsable.className.indexOf(className) === -1) {
                    collapsable.className += " " + className;
                } else {
                    collapsable.className = collapsable.className.replace(className, "");
                }
            }, false);
        }
    </script>
    <script src="/static/js/fast_click.js"></script>
</body>
</html>
