{% load static %}
{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
<title>Maintenance {{general_info.name}} &mdash; {% blocktrans %}Modify {{company}} email alerts{% endblocktrans %}</title> {# TMP #}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/create-project.css" />
<link rel="stylesheet" href="/static/css/date-picker.css" />
<script src="/static/js/segmented-selector.js"></script>
<script src="/static/js/date-picker.js"></script>
{% if company.color %}
<style>
.dashboard.dark .dashboard-button a:hover, .dashboard.light .dashboard-button a:hover {
    background-color: white;
    color: {{company.color}};
}
</style>
{% endif %}
</head>
<body>
    {% include "high_ui/company_details_header.html" %}
    <div class="content-container">
        <div class="content">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-content">
                    {{form.management_form}}
                    {% for sub_form in form %}
                    <div class="form-group email-alert-disabled">

                        <div class="group-title-container">
                            <div class="group-title">{% blocktrans with name=sub_form.counter_name %}{{name}}'s email-alert configuration{% endblocktrans %}</div>
                        </div>
                        <div class="form-row row-email-alert {% if sub_form.email_alert.errors %}form-error{% endif %}">
                            {% if sub_form.email_alert.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}
                        
                            <label for="{{sub_form.email_alert.id_for_label}}">{{sub_form.email_alert.label}}</label>
                            <section class="segmented-selector {{maintenance_types.0.css_class}}">
                                <a href="" class="active" data-selector-key="disabled" data-selector-value="False" title="">{% trans "Disabled" %}</a>
                                <a href="" class="inactive" data-selector-key="enabled" data-selector-value="True" title="">{% trans "Enabled" %}</a>
                                {{sub_form.email_alert}}
                            </section>
                            {% if sub_form.email_alert.errors %}
                            </div>
                            {% endif %}
                        
                            {% for error in sub_form.email_alert.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="form-row row-credit-min {% if sub_form.number_hours_min.errors %}form-error{% endif %}">
                            {% if sub_form.number_hours_min.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}
                        
                            <label for="{{sub_form.number_hours_min.id_for_label}}">{{sub_form.number_hours_min.label}} *</label>
                            {{sub_form.number_hours_min}}
                        
                            {% if sub_form.number_hours_min.errors %}
                            </div>
                            {% endif %}
                        
                            {% for error in sub_form.number_hours_min.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="form-row row-recipient {% if sub_form.recipient.errors %}form-error{% endif %}">
                            {% if sub_form.recipient.errors %}
                            <div class="form-row-wrapper">
                            {% endif %}
                        
                            <label for="{{sub_form.recipient.id_for_label}}">{{sub_form.recipient.label}} *</label>
                            {{sub_form.recipient}}
                        
                            {% if sub_form.recipient.errors %}
                            </div>
                            {% endif %}
                        
                            {% for error in sub_form.recipient.errors %}
                            <div class="form-error-text">{{error|escape}}</div>
                            {% endfor %}
                        </div>

                        {{sub_form.id}}

                        <div class="help help-email-alert">
                            <span class="email-alert-enabled">{% blocktrans %}The <em>to contact</em> manager will recieve an email alert when the <em>remaining hours</em> of the contract reach the <em>hour threshold</em>.{% endblocktrans %}</span>
                            <span class="email-alert-disabled">{% blocktrans with company=company.name counter=sub_form.counter_name %}Enable the option if you want that a {{company}}'s manager receive an email alert when there are a few credits left on the {{counter}} contract.{% endblocktrans %}</span>
                        </div>
                    </div>
                    {% endfor %}

                    {% if form.non_field_errors %}
                    <div class="form-error">
                        {% for error in form.non_field_errors %}
                            <p><i>{{ error }}</i></p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-footer">
                        <button type="submit">{% trans "Modify this configuration" %}</button>
                        <span class="cancel">{% trans "or" %} <a href="#" onclick="window.history.back()">{% trans "Don't Modify" %}</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        var alertStatuss = document.querySelectorAll(".form-row.row-email-alert");
        for (var i = 0; i < alertStatuss.length; ++i) {
            var alertStatus = alertStatuss[i];
            new SegmentedSelector(alertStatus.querySelector(".segmented-selector"),
                                  function (node, currentKey, selectedKey) {
                var currentType = "email-alert-" + currentKey;
                var selectedType = "email-alert-" + selectedKey;

                var parent = node.parentElement;
                parent.className = parent.className.replace(currentType, selectedType);

                var creditMinInput = parent.querySelector(".row-credit-min input");
                creditMinInput.required = selectedType === "email-alert-enabled";

                var recipientSelect = parent.querySelector(".row-recipient select");
                recipientSelect.required = selectedType === "email-alert-enabled";
            }.bind(null, alertStatus));
        }
    </script>
</body>
</html>
