{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
{% block page_title %}{% endblock %}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/edit-list.css" />
<link rel="stylesheet" href="/static/css/edit-operators.css" />
<link rel="stylesheet" href="/static/css/create-project.css" />
{% if object.company.color %}
<style>
.dashboard.dark .dashboard-button a:hover, .dashboard.light .dashboard-button a:hover {
    background-color: white;
    color: {{company.color}};
}
</style>
{% endif %}
</head>
<body>
{% block header %}{% endblock %}
    <div class="content-container">
        <div class="content">
            <div class="form-content">
                <div class="form-intro">
                    <div class="group-title-container">
                        {% block form_title %}{% endblock %}
                    </div>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form-mod" value="profile">
                    <div class="form-group archive-group form-group-collapsable">
                        <div class="group-title-container">
                            {% block profile_form_title %}{% endblock %}
                        </div>

                        <div class="form-group-collapsable-content">

                            <div class="form-row form-label-row {% if profile_form.first_name.errors %}form-error{% endif %}">
                                {% if profile_form.first_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{profile_form.first_name.id_for_label}}">{{profile_form.first_name.label}} *</label>
                                {{profile_form.first_name}}

                                {% if profile_form.first_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in profile_form.first_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>

                            <div class="form-row form-label-row {% if profile_form.last_name.errors %}form-error{% endif %}">
                                {% if profile_form.last_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{profile_form.last_name.id_for_label}}">{{profile_form.last_name.label}} *</label>
                                {{profile_form.last_name}}

                                {% if profile_form.last_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in profile_form.last_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>

                            <div class="form-row form-label-row {% if profile_form.email.errors %}form-error{% endif %}">
                                {% if profile_form.email.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{profile_form.email.id_for_label}}">{{profile_form.email.label}} *</label>
                                {{profile_form.email}}

                                {% if profile_form.email.errors %}
                                </div>
                                {% endif %}

                                {% for error in profile_form.email.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            {% if profile_form.phone %}
                            <div class="form-row form-label-row {% if profile_form.phone.errors %}form-error{% endif %}">
                                {% if profile_form.phone.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}
                            
                                <label for="{{profile_form.phone.id_for_label}}">{{profile_form.phone.label}}</label>
                                {{profile_form.phone}}
                            
                                {% if profile_form.phone.errors %}
                                </div>
                                {% endif %}
                            
                                {% for error in profile_form.phone.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% if profile_form.is_staff %}
                            <div class="form-row {% if profile_form.is_staff.errors %}form-error{% endif %}">
                                {% if profile_form.is_staff.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                {{profile_form.is_staff}}&nbsp;<label for="{{profile_form.is_staff.id_for_label}}">{% trans "Is operator" %}</label>

                                {% if profile_form.is_staff.errors %}
                                </div>
                                {% endif %}

                                {% for error in profile_form.is_staff.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            <div class="help help-activation">
                                <span class='activation-active'>{% trans "Checks it, if the administrator is also an operator and will manage some projects." %}</span>
                            </div>
                            {% endif %}

                            {% if profile_form.confirm_password %}
                            <div class="form-row form-label-row {% if profile_form.confirm_password.errors %}form-error{% endif %}">
                                {% if profile_form.confirm_password.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{profile_form.confirm_password.id_for_label}}">{{profile_form.confirm_password.label}} *</label>
                                {{profile_form.confirm_password}}

                                {% if profile_form.confirm_password.errors %}
                                </div>
                                {% endif %}

                                {% for error in profile_form.confirm_password.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        {% if profile_form.non_field_errors %}
                        <div class="form-row form-error">
                            {% for error in profile_form.non_field_errors %}
                                <p><i>{{ error }}</i></p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if profile_form_success %}
                        <div class="form-row form-success">
                            <p><i>{% trans "Modifications have been registered!" %}</i></p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-footer">
                        {% block profile_form_footer %}{% endblock %}
                    </div>
                </form>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form-mod" value="password">
                    <div class="form-group archive-group form-group-collapsable {% if not password_form.errors and not password_form_success %}form-group-collapsed{% endif %}">
                        <div class="group-title-container">
                            {% block password_form_title %}{% endblock %}
                        </div>

                        <div class="form-group-collapsable-content">

                            {% if password_form.old_password %}
                            <div class="form-row form-label-row {% if password_form.old_password.errors %}form-error{% endif %}">
                                {% if password_form.old_password.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{password_form.old_password.id_for_label}}">{{password_form.old_password.label}} *</label>
                                {{password_form.old_password}}

                                {% if password_form.old_password.errors %}
                                </div>
                                {% endif %}

                                {% for error in password_form.old_password.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <div class="form-row form-label-row {% if password_form.new_password1.errors %}form-error{% endif %}">
                                {% if password_form.new_password1.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{password_form.new_password1.id_for_label}}">{{password_form.new_password1.label}} *</label>
                                {{password_form.new_password1}}

                                {% if password_form.new_password1.errors %}
                                </div>
                                {% endif %}

                                {% for error in password_form.new_password1.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>

                            <div class="form-row form-label-row {% if password_form.new_password2.errors %}form-error{% endif %}">
                                {% if password_form.new_password2.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{password_form.new_password2.id_for_label}}">{{password_form.new_password2.label}} *</label>
                                {{password_form.new_password2}}

                                {% if password_form.new_password2.errors %}
                                </div>
                                {% endif %}

                                {% for error in password_form.new_password2.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                        </div>

                        {% if password_form.non_field_errors %}
                        <div class="form-row form-error">
                            {% for error in password_form.non_field_errors %}
                                <p><i>{{ error|escape }}</i></p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if password_form_success %}
                            <div class="form-row form-success">
                                <p><i>Modifications have been registered!</i></p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-footer">
                        {% block password_form_footer %}{% endblock %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        var collapsableTriggers = document.querySelectorAll("form .group-title");
        for (var i = 0; i < collapsableTriggers.length; ++i) {
            var trigger = collapsableTriggers[i];
            trigger.addEventListener("click", function(e) {
                var className = "form-group-collapsed";
                
                var collapsable = this.parentElement.parentElement;                
                if (collapsable.className.indexOf(className) === -1) {
                    collapsable.className += " " + className;
                } else {
                    collapsable.className = collapsable.className.replace(className, "");
                }
            }, false);
        }
    </script>
    <script src="/static/js/fast_click.js"></script>
</body>
</html>
