{% extends 'high_ui/forms/update_list_base.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance {{general_info.name}} &mdash; {% trans "Modify operator list of" %} {{company.name}}</title> {# TMP #}
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "Modify operator list" %}</div>
{% endblock %}

{% block form_details %}
{% blocktrans %}Select the operators of this project, among the {{all_types_operators_number}} already existing:{% endblocktrans %}
{% endblock %}

{% block item_label %}
<a href='{% url 'high_ui:project-update_operator' company_name=company.slug_name pk=user.data.value %}'>
<div class="item-name">{{user.data.label}} {% if user.data.selected %}<span class="typography dash">&mdash;</span> {% trans "operator of this project" %}</div>{% endif %}
<div class="item-description">{{user.data.label.email}}</div>
</a>
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Modify operator list" %}</button>
<span class="cancel">{% trans "or" %} <a href="{{previous_page}}">{% trans "Don't Modify" %}</a></span>
{% endblock %}
