{% extends 'high_ui/forms/base_project.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance {{general_info.name}} &mdash; {% blocktrans %}Modify {{company}} project{% endblocktrans %}</title> {# TMP #}
{% endblock %}

{% block header %}
{% include "high_ui/company_details_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">{% blocktrans %}Project of the {{company}} society {% endblocktrans %}</div>
{% endblock %}

{% block form_counter_name_1 %}
{{contracts.0.get_counter_name}}
{% endblock %}

{% block form_counter_name_2 %}
{{contracts.1.get_counter_name}}
{% endblock %}

{% block form_counter_name_3 %}
{{contracts.2.get_counter_name}}
{% endblock %}

{% block form_footer %}
<button type="submit">{% trans "Modify this project" %}</button>
<span class="cancel">{% trans "or" %} <a href="#" onclick="window.history.back()">{% trans "Don't Modify" %}</a></span>
{% endblock %}
