{% extends 'high_ui/forms/update_user.html' %}
{% load i18n %}

{% block page_title %}
<title>Maintenance Hybird &mdash; {% trans "modify operator" %}</title> {# TMP #}
{% endblock %}

{% block header %}
{% include "high_ui/dashboard_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">{% trans "Modification of this operator" %}</div>
{% endblock %}

{% block profile_form_title %}
<div class="group-title" title="{% trans "Display/hide the profil modification form" %}">{% trans "Modify profile" %}</div>
{% endblock %}

{% block profile_form_footer %}
<button type="submit">{% trans "Modify this informations" %}</button>
<span class="cancel">{% trans "or" %} <a href="#" onclick="window.history.back()">{% trans "Don't Modify" %}</a></span>
{% endblock %}

{% block password_form_title %}
<div class="group-title" title="{% trans "Display/hide the profil modification form" %}">{% trans "Modify password" %}</div>
{% endblock %}

{% block password_form_footer %}
<button type="submit">{% trans "Modify password" %}</button>
<span class="cancel">{% trans "or" %} <a href="#" onclick="window.history.back()">{% trans "Don't Modify" %}</a></span>
{% endblock %}
