{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
<title>Maintenance Hybird &mdash; votre profil</title> {# TMP #}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/edit-list.css" />
<link rel="stylesheet" href="/static/css/edit-operators.css" />
</head>
<body>
{% include "high_ui/user_header.html" %}
    <div class="content-container">
        <div class="content">
            <div class="form-content">
                <div class="form-intro">
                    <div class="group-title-container">
                        <div class="group-title">Vos informations personnelles</div>
                    </div>
                </div>
                <form action="{% url 'high_ui:update_user_profil' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group archive-group form-group-collapsable">
                        <div class="group-title-container">
                            <div class="group-title" title="Afficher/cacher le formulaire de modification de profil">Modifier votre profil</div>
                        </div>

                        <div class="form-group-collapsable-content">

                            <div class="form-row form-label-row {% if profil_form.first_name.errors %}form-error{% endif %}">
                                {% if profil_form.first_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{profil_form.first_name.id_for_label}}">Prénom *</label>
                                {{profil_form.first_name}}

                                {% if profil_form.first_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in profil_form.first_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>

                            <div class="form-row form-label-row {% if profil_form.last_name.errors %}form-error{% endif %}">
                                {% if profil_form.last_name.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{profil_form.last_name.id_for_label}}">Nom *</label>
                                {{profil_form.last_name}}

                                {% if profil_form.last_name.errors %}
                                </div>
                                {% endif %}

                                {% for error in profil_form.last_name.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>

                            <div class="form-row form-label-row {% if profil_form.email.errors %}form-error{% endif %}">
                                {% if profil_form.email.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{profil_form.email.id_for_label}}">E-mail *</label>
                                {{profil_form.email}}

                                {% if profil_form.email.errors %}
                                </div>
                                {% endif %}

                                {% for error in profil_form.email.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                        </div>

                        {% if profil_form.non_field_errors %}
                        <div>
                            {% for error in profil_form.non_field_errors %}
                                <p><i>{{ error }}</i></p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-footer">
                        <button type="submit">Modifier mes informations</button>
                        <span class="cancel">ou <a href="#" onclick="window.history.back()">Ne pas modifier</a></span>
                    </div>
                </form>
                <form action="{% url 'high_ui:update_user_password' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group archive-group form-group-collapsable">
                        <div class="group-title-container">
                            <div class="group-title" title="Afficher/cacher le formulaire de modification de mot de passe">Modifier votre mot de passe</div>
                        </div>

                        <div class="form-group-collapsable-content">

                            <div class="form-row form-label-row {% if password_form.old_password.errors %}form-error{% endif %}">
                                {% if password_form.old_password.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{password_form.old_password.id_for_label}}">Mot de passe actuel*</label>
                                {{password_form.old_password}}

                                {% if password_form.old_password.errors %}
                                </div>
                                {% endif %}

                                {% for error in password_form.old_password.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>


                            <div class="form-row form-label-row {% if password_form.new_password1.errors %}form-error{% endif %}">
                                {% if password_form.new_password1.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{password_form.new_password1.id_for_label}}">Nouveau mot de passe *</label>
                                {{password_form.new_password1}}

                                {% if password_form.new_password1.errors %}
                                </div>
                                {% endif %}

                                {% for error in password_form.new_password1.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>

                            <div class="form-row form-label-row {% if password_form.new_password2.errors %}form-error{% endif %}">
                                {% if password_form.new_password1.errors %}
                                <div class="form-row-wrapper">
                                {% endif %}

                                <label for="{{password_form.new_password2.id_for_label}}">Confirmation nouveau mot de passe *</label>
                                {{password_form.new_password2}}

                                {% if password_form.new_password2.errors %}
                                </div>
                                {% endif %}

                                {% for error in password_form.new_password2.errors %}
                                <div class="form-error-text">{{error|escape}}</div>
                                {% endfor %}
                            </div>
                        </div>

                        {% if password_form.non_field_errors %}
                        <div>
                            {% for error in password_form.non_field_errors %}
                                <p><i>{{ error }}</i></p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-footer">
                        <button type="submit">Modifier mon mot de passe</button>
                        <span class="cancel">ou <a href="#" onclick="window.history.back()">Ne pas modifier</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        var collapsableTriggers = document.querySelectorAll("form .group-title");
        for (var i = 0; i < collapsableTriggers.length; ++i) {
            var trigger = collapsableTriggers[i];
            trigger.addEventListener("click", function(e) {
                var className = "form-group-collapsed";
                
                var collapsable = this.parentElement.parentElement;                
                if (collapsable.className.indexOf(className) === -1) {
                    collapsable.className += " " + className;
                } else {
                    collapsable.className = collapsable.className.replace(className, "");
                }
            }, false);
        }
    </script>
