{% extends 'high_ui/forms/update_list_base.html' %}

{% block page_title %}
<title>Maintenance Hybird &mdash; Modifier la liste des salariés de {{company.name}}</title> {# TMP #}
{% endblock %}

{% block form_title %}
<div class="group-title">Modifier la liste des salariés</div>
{% endblock %}

{% block form_details %}
Sélectionner les salariés pour ce projet, parmi les {{ company.maintenanceconsumer_set.all.count }} existants:
{% endblock %}

{% block item_label %}
<a href='{% url 'high_ui:project-update_consumer' company_name=company.slug_name pk=user.data.value %}'>
<div class="item-name">{{user.data.label}} {% if user.data.selected %}<span class="typography dash">&mdash;</span> salarié du projet</div>{% endif %}
</a>
{% endblock %}

{% block form_footer %}
<button type="submit">Modifier la liste des salariés</button>
<span class="cancel">ou <a href="#" onclick="window.history.back()">Ne pas modifier</a></span>
{% endblock %}
