{% load static %}
{% load i18n print_fields %}
<!DOCTYPE html>
<html>
<head>
<title>Maintenance Hybird &mdash; Modifier la liste des intervenants</title> {# TMP #}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/edit-list.css" />
<link rel="stylesheet" href="/static/css/edit-operators.css" />
</head>
<body>
    {% include "high_ui/dashboard_header.html" %}
    <div class="content-container">
        <div class="content">
            <div class="form-content">
                <div class="form-intro">
                    <div class="group-title-container">
                        <div class="group-title">Modifier la liste des intervenants Hybird</div>
                    </div>
                </div>
                {% if active_operators_number %}
                <form action="{% url 'high_ui:archive_operators' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group archive-group form-group-collapsable">
                        <div class="group-title-container">
                            <div class="group-title" title="Afficher/cacher la liste des intervenants actifs">Archiver des intervenants</div>
                        </div>

                        <div class="form-group-collapsable-content">
                            {% if active_operators_number > 1%}
                            <span class="list-intro">Sélectionner les intervenants que vous voulez rendre inactifs, parmi les {{active_operators_number}} intervenants Hybird actuellement actifs&nbsp;:</span>
                            {% else %}
                            <span class="list-intro">Sélectionner l'unique intervenant actif Hybird pour le rendre inactif&nbsp;:</span>
                            {% endif %}
                            <ul class="checkbox-list">
                            {% for value, label in archive_form.active_operators.field.choices %}
                                <li>
                                    <label>
                                        <input value="{{value}}" name="active_operators" type="checkbox"> 
                                        <div class="item-container">
                                            <a href='{% url 'high_ui:update_operator' pk=value %}'>
                                            <div class="item-name">
                                                {{label}}
                                            </div>
                                            <div class="item-description">Intervenant <span class="typography dash">&mdash;</span> {{value|print_operator_projects}}</div>
                                            </a>
                                        </div>
                                    </label>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit">Archiver ces intervenants</button>
                        <span class="cancel">ou <a href="#" onclick="window.history.back()">Ne rien changer</a></span>
                    </div>
                </form>
                {% endif %}
                {% if archived_operators_number %}
                <form action="{% url 'high_ui:unarchive_operators' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group reactivate-form form-group-collapsable form-group-collapsed">
                        <div class="group-title-container">
                            <div class="group-title" title="Afficher/cacher la liste des intervenants archivés">Réactiver des intervenants archivés</div>
                        </div>

                        <div class="form-group-collapsable-content">
                            {% if archived_operators_number > 1%}
                            <span class="list-intro">Sélectionner les intervenants que vous voulez rendre actifs, parmi les {{archived_operators_number}} intervenants Hybird actuellement archivés&nbsp;:</span>
                            {% else %}
                            <span class="list-intro">Sélectionner l'unique intervenant archivé Hybird pour le rendre actif&nbsp;:</span>
                            {% endif %}
                            <ul class="checkbox-list">
                            {% for value, label in unarchive_form.inactive_operators.field.choices %}
                                <li>
                                    <label>
                                        <input value="{{value}}" name="inactive_operators" type="checkbox"> 
                                        <div class="item-container">
                                            <div class="item-name">
                                                {{label}}
                                            </div>
                                            <div class="item-description">Intervenant <span class="typography dash">&mdash;</span> {{value|print_operator_projects}}</div>
                                        </div>
                                    </label>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit">Activer ces intervenants</button>
                        <span class="cancel">ou <a href="#" onclick="window.history.back()">Ne rien changer</a></span>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
    <script>
        var collapsableTriggers = document.querySelectorAll("form .group-title");
        for (var i = 0; i < collapsableTriggers.length; ++i) {
            var trigger = collapsableTriggers[i];
            trigger.addEventListener("click", function(e) {
                var className = "form-group-collapsed";
                
                var collapsable = this.parentElement.parentElement;                
                if (collapsable.className.indexOf(className) === -1) {
                    collapsable.className += " " + className;
                } else {
                    collapsable.className = collapsable.className.replace(className, "");
                }
            }, false);
        }
    </script>
</body>
</html>
