{% extends 'high_ui/forms/base_issue.html' %}

{% block page_title %}
<title>Maintenance Hybird &mdash; {{object.company.name}}, modifier la demande de {{object.get_counter_name}} n° {{object.company_issue_number}}</title> {# TMP #}
{% endblock %}

{% block header %}
{% include "high_ui/issue_details_header.html" %}
{% endblock %}

{% block form_title %}
<div class="group-title">Demande N°{{object.company_issue_number}}</div>
<label>Compte client</label>
<span>{{object.company.name}}</span>
{% endblock %}

{% block form_footer %}
<button type="submit">Modifier la demande</button>
<span class="cancel">ou <a href="#" onclick="window.history.back()">Ne pas modifier</a></span>
{% endblock %}
