include LICENSE
include README.md
include *.txt *.ini *.cfg *.rst *md
recursive-include hymaintenance/core/static *
recursive-include hymaintenance/core/templates *
recursive-include hymaintenance/core/locale *

