{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<title>Maintenance {{general_info.name}} &mdash; {% trans "Administration dashboard" %}</title> {# TMP #}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/create.css" />
<link rel="stylesheet" href="/static/css/edit-list.css" />
<link rel="stylesheet" href="/static/css/edit-operators.css" />
</head>
<body>
    {% include "high_ui/dashboard_header.html" %}
    <div class="content-container">
        <div class="content">
            <div class="container details-container">
                <div class="container-title">{% blocktrans with name=general_info.name %}Update {{name}}'s general information{% endblocktrans %}</div>
                <div class="dashboard-item dashboard-button">
                    <div class="dashboard-value">
                        <a href="{% url 'high_ui:update_infos' %}" title="{% trans "Update general information" %}">{% trans "Update general information" %}</a>
                    </div>
                </div>
            </div>
            <div class="container details-container">
                <div class="container-title">{% trans "Create an administrator" %}</div>
                <div class="dashboard-item dashboard-button">
                    <div class="dashboard-value">
                        <a href="{% url 'high_ui:create_admin' %}" title="{% trans "Create an administrator" %}">{% trans "Create an administrator" %}</a>
                    </div>
                </div>
            </div>
            <div class="container details-container">
                <div class="container-title">{% trans "Update administrators" %}</div>
                {% if admins %}
                <span>{% trans "Administrator list. Click on a administrator to update them." %}</span>
                <ul>
                {% for admin in admins %}
                    <li><a href='{% url 'high_ui:update_admin' pk=admin.pk %}'>{{admin.first_name}} {{admin.last_name}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="container details-container">
                <div class="container-title">{% trans "Manage email alerts" %}</div>
                <div class="dashboard-item dashboard-button">
                    <div class="dashboard-value">
                        <a href="#" title="{% trans "Manage email alerts" %}">{% trans "Email alerts" %}</a>
                    </div>
                </div>
            </div>
            <div class="container details-container">
                <div class="container-title">{% trans "Manage default contract types" %}</div>
                <div class="dashboard-item dashboard-button">
                    <div class="dashboard-value">
                        <a href="{% url 'high_ui:update_maintenance_types' %}" title="{% trans "Modify default name of contract types" %}">{% trans "Modify default contract type" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
</body>
</html>
