{% load i18n print_fields %}

<!DOCTYPE html>
<html>
<head>
<title>Maintenance Hybird &mdash; {{company.name}}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/home.css" />
</head>
<body>
    {% include "high_ui/company_details_header.html" %}
    <div class="content-container">
        <div class="content">
            <div class="container summary-container">
                <table class="summary-items">
                   <thead>
                        <tr>
                            <th class="summary-month container-title">{% trans "Summary" %}</th>
                            {% for contract in contracts %}
                            <th class="summary-type {{contract.maintenance_type.css_class}}">{{contract.get_counter_name}}</th>
                            <!--<th class="summary-type type-maintenance">Maintenance</th>-->
                            <!--<th class="summary-type type-support">Support</th>-->
                            {% endfor %}
                        </tr>
                    </thead>
                        {% for month, infos in activities %}
                        <tr class="summary-item">
                            <td class="summary-month">{{month|date:"F Y"}}</td>
                            {% for contract, consumed, credited in infos %}
                                {% if credited == 0 and consumed == 0 %}
                                <td class="summary-type {{contract.maintenance_type.css_class}}">&mdash;</td>
                                {% else %}
                                <td class="summary-type {{contract.maintenance_type.css_class}}">
                                    {%if consumed != 0 %}
                                    <span class="duration">{% pretty_print_minutes consumed %}</span> {% trans "consumed" %}<br/>
                                    {% endif %}
                                    {%if credited != 0 %}
                                    <span class="duration">{{credited}}h</span> {% trans "credited" %}
                                    {% endif %}
                                </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                </table>
            </div>

            <div class="container history-container">
                <div class="container-title">{% trans "History" %}</div>

                {% for month, issues_count, infos, info_events in history %}
                <div class="history-month">
                    <div class="dashboard">
                        <div class="dashboard-item">
                            <span class="dashboard-title">Mois</span>
                            <span class="dashboard-value">{{month|date:"F Y"}}</span>
                        </div>

                        <div class="dashboard-item history-month-issues">
                            <span class="dashboard-title">demandes</span>
                            <span class="dashboard-value">
                                {% if issues_count == 0 %} &mdash; {% else %} {{ issues_count }} {% endif %}
                            </span>
                        </div>

                        {% for contract, consumed, credited in infos %}
                        <div class="dashboard-item {{contract.maintenance_type.css_class}}">
                            <span class="dashboard-title">{{contract.get_counter_name}}</span>
                            <span class="dashboard-value">
                                {% if consumed == 0 %} &mdash; {% else %} {% pretty_print_minutes consumed use_long_minute_format=True %} {% endif %}
                            </span>
                        </div>
                        {% endfor %}
                    </div>

                    {% if info_events|length %}
                    <table class="history-items">
                        {% for event in info_events %}
                        {% if event.type == "issue" %}
                        <tr class="history-item {{event.css_class}}">
                            <td class="history-item-date">{{event.date|date:"d/m"}}</td>
                            <td class="history-item-duration duration">{% pretty_print_minutes event.number_minutes %}</td>
                            <td class="history-item-type"><div class="type-tag">{{event.counter_name}}</div></td>
                            <td class="history-item-summary"><a href="{% url 'high_ui:project-issue_details' company_name=event.slug_name company_issue_number=event.company_issue_number %}">{{event.subject}}</a></td>
                        </tr>
                        {% else %}
                        <tr class="history-item {{event.css_class}}">
                            <td class="history-item-date">{{event.date|date:"d/m"}}</td>
                            <td class="history-item-duration duration">+{{event.hours_number}}</td>
                            <td class="history-item-type"><div class="type-tag">{{event.counter_name}}</div></td>
                            <td class="history-item-summary">{% extra_credit_subject event.hours_number %}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
</body>
</html>
