{% load i18n print_fields %}
<div class="dashboard {% if company.color %}{% if company.dark_font_color %}dark{% else%}light{% endif %}{% else %}{% if default_activity_type %}{{default_activity_type}}{% elif contracts %}{{contracts.0.maintenance_type.css_class}}{% else %}type-maintenance{% endif %}{% endif %}" {% if company.color %}style="background:{{company.color}};"{% endif %}>
    {% if company.logo %}<div class="dashboard-logo"><img src="{{company.logo.url}}"/></div>{% endif %}
    <div class="dashboard-item dashboard-account">
        <span class="dashboard-title">{% trans "Account" %}</span>
        <span class="dashboard-value"><a href="{% url 'high_ui:dashboard' %}" class="home-link" title="{% trans "Return to dashboard" %}">{{company.name}}</a></span>
    </div>

    {% for contract in contracts.filter_enabled %}
    <div class="dashboard-item">
        <span class="dashboard-title">{{contract.get_counter_name}}</span>
        <span class="dashboard-value">{% pretty_print_contract_counter contract %}</span>
    </div>
    {% endfor %}
    {% if request.user.has_operator_or_admin_permissions or add_credits %}
    <div class="dashboard-item dashboard-button">
        <div class="dashboard-value">
            {% if request.user.has_operator_or_admin_permissions %}
            <a href="{% url 'high_ui:project-create_issue' company_name=company.slug_name %}">{% trans "Register an issue" %}</a>
            {% endif %}
            {% if add_credits %}
                {% if request.user.has_operator_or_admin_permissions %}
                    <a href='{% url 'high_ui:project-create_credit' company_name=company.slug_name %}'>{% trans "Add hours" %}</a>
                {% else %}
                    <a href='{% url 'high_ui:project-contact' company_name=company.slug_name %}'>{% trans "Buy hours" %}</a>
                {% endif %}
                <a href='{% url 'high_ui:project-update_email_alert' company_name=company.slug_name %}'>{% trans "Email alerts" %}</a>
            {% endif %}
            {% if reset_counter %}
                {% if request.user.has_operator_or_admin_permissions %}
                    <a href='{% url 'high_ui:project-reset_counters' company_name=company.slug_name %}'>{% trans "Reset counter" %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="dashboard-item dashboard-contact">
    {% if not request.user.has_operator_or_admin_permissions %}
        <span class="dashboard-title">{% trans "Your Contact" %}</span>
        <span class="dashboard-value">{% pretty_print_name company.contact.first_name company.contact.last_name %}</span>
    </div>
    <div class="dashboard-item dashboard-user">
    {% endif %}
	<span class="dashboard-title">{% if request.user.has_operator_or_admin_permissions %}{{general_info.name}}{% else %}{{request.user.company}}{% endif %}</span>
        <span class="dashboard-value"><a href='{% url 'high_ui:update_user' %}'>{% pretty_print_name request.user.first_name request.user.last_name %}</a></span>
    </div>
    <div class="dashboard-item dashboard-button">
        <div class="dashboard-value">
            <a href="/logout" title="{% trans "Quit the application" %}">{% trans "Logout" %}</a>
        </div>
    </div>
</div>
