{% load i18n print_fields %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
<title>Maintenance {{general_info.name}} &mdash; {% blocktrans with name=general_info.name %}{{name}} Dashboard{% endblocktrans %}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/dashboard.css" />
</head>
<body>
    {% include "high_ui/dashboard_header.html" %}
    <div class="content-container">
        <div class="content">
            {% for company in companies %}
            <div class='dashboard-container'>
                <div class="dashboard type-project">
                    <div class="dashboard-item dashboard-account">
                        <span class="dashboard-title">{% trans "Account" %}</span>
                        <span class="dashboard-value"><a href="{{company.get_absolute_url}}" title="{% blocktrans %}Access to {{company}} details{% endblocktrans %}">{{company}}</a></span>
                    </div>
                    {% if request.user.has_admin_permissions %}
                    <div class="dashboard-item dashboard-button">
                        <div class="dashboard-value">
                            <a href="{% url 'high_ui:update_project' company_name=company.slug_name %}">{% trans "Modify" %}</a> {# TMP #}
                        </div>
                    </div>
                    <div class="dashboard-button">
                        <div class="dashboard-value">
                            <a href="{% url 'high_ui:customize_project' company_name=company.slug_name %}">{% trans "Customize" context "fp" %}</a> {# TMP #}
                        </div>
                    </div>
                    {% endif %}
                    <div style="flex: 1"></div>
                    {% for contract in company.contracts.filter_enabled %}
                    <div class="dashboard-item">
                        <span class="dashboard-title">{{contract.get_counter_name}}</span>
                        <span class="dashboard-value">{% pretty_print_contract_counter contract %}</span>
                    </div>
                    {% endfor %}
                    <div class="dashboard-item dashboard-button">
                        <div class="dashboard-value">
                            <a href="{% url 'high_ui:project-create_issue' company_name=company.slug_name %}">{% trans "Register an issue" %}</a>
                        </div>
                    </div>
                </div>

                <div class="project-details">
                    <div class="project-user-list">
                        <div class="dashboard">
                            <div class="dashboard-item project-detail">
                                <span class="dashboard-title">{% trans "Operators" %}</span>
                                <span class="dashboard-value">{{company.managed_by.get_active_all_types_operator_users_queryset.count}}</span>
                            </div>
                            {% if request.user.has_admin_permissions %}
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{% url 'high_ui:project-create_operator' company_name=company.slug_name %}" title="{% trans "Create a new operator and add them at the project" %}">{% trans "New" context "ms" %}</a>
                                </div>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{% url 'high_ui:project-update_operators' company_name=company.slug_name %}" title="{% trans "Modify the project operator list" %}">{% trans "Modify the list" %}</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="project-users">
                            {% for maintainer in company.managed_by.get_active_all_types_operator_users_queryset %}
                            <div>{{maintainer.get_full_name}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="project-user-list">
                        {% with company.maintenanceuser_set.get_active_manager_users_queryset as managers %}
                        <div class="dashboard">
                            <div class="dashboard-item project-detail">
                                <span class="dashboard-title">{% trans "Managers" %}</span>
                                <span class="dashboard-value">{{managers.count}}</span>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{% url 'high_ui:project-create_manager' company_name=company.slug_name %}" title="{% trans "Create a new manager and add them to the project" %}">{% trans "New" context "ms" %}</a>
                                </div>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{% url 'high_ui:project-update_managers' company_name=company.slug_name %}" title="{% trans "Modify the project manager list" %}">{% trans "Modify the list" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="project-users">
                            {% for manager in managers %}
                            <div>{{manager.get_full_name}}</div>
                            {% endfor %}
                        </div>
                        {% endwith %}
                    </div>

                    <div class="project-user-list">
                        {% with company.maintenanceconsumer_set.get_used_consumers as consumers %}
                        <div class="dashboard">
                            <div class="dashboard-item project-detail">
                                <span class="dashboard-title">{% trans "Employees" %}</span>
                                <span class="dashboard-value">{{consumers.count}}</span>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{% url 'high_ui:project-create_consumer' company_name=company.slug_name %}" title="{% trans "Create a new employee and add them to the project" %}">{% trans "New" context "ms" %}</a>
                                </div>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{% url 'high_ui:project-update_consumers' company_name=company.slug_name %}" title="{% trans "Modify the project salary list" %}">{% trans "Modify the list" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="project-users">
                            {% for consumer in consumers %}
                            <div>{{consumer}}</div>
                            {% endfor %}
                        </div>
                        {% endwith %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
</body>
</html>
