{% load i18n print_fields %}
<div class="dashboard type-maintenance">
    <div class="dashboard-item dashboard-account">
        <span class="dashboard-title">{% trans "Dashboard" %}</span>
        <span class="dashboard-value"><a href="{% url 'high_ui:dashboard' %}" class="home-link" title="{% trans "Return to dashboard" %}">{{general_info.name}}</a></span>
    </div>
    <div class="dashboard-item" style='border-color: transparent; flex: 1'>
        <span class="dashboard-title">{% trans "Projects" %}</span>
        <span class="dashboard-value">{{companies_number}}</span>
    </div>
    <div class="dashboard-item dashboard-button">
        <div class="dashboard-value">
            <a href="{% url 'high_ui:create_project' %}">{% trans "Add a project" %}</a>
        </div>
    </div>
    <div class="dashboard-item" style="border-color: transparent; margin-left: 40px">
        <span class="dashboard-title">{% trans "Operators" %}</span>
        <span class="dashboard-value">{{all_types_operators_number}}</span>
    </div>
    <div class="dashboard-item dashboard-button">
        <div class="dashboard-value">
            <a href="{% url 'high_ui:create_operator' %}">{% trans "Create an operator" %}</a> {# TMP #}
            <a href="{% url 'high_ui:update_operators' %}">{% trans "Modify operator list" %}</a> {# TMP #}
        </div>
    </div>
    <div class="dashboard-item dashboard-contact">
	<span class="dashboard-title">{{general_info.name}}</span>
        <span class="dashboard-value"><a href='{% url 'high_ui:update_user' %}'>{% pretty_print_name request.user.first_name request.user.last_name %}</a></span>
    </div>
    <div class="dashboard-item dashboard-button">
        <div class="dashboard-value">
            {% if request.user.is_superuser %}
            <a href="{% url 'high_ui:admin' %}" title="{% trans "Access to HyMaintenance administration dashboard" %}">{% trans "Administration" %}</a>
            {% endif %}
            <a href="/logout" title="{% trans "Quit the application" %}">{% trans "Logout" %}</a>
        </div>
    </div>
</div>
