{% load i18n print_fields %}

<!DOCTYPE html>
<html>
<head>
<title>Maintenance Hybird &mdash; Tableau de bord Hybird</title> {# TMP #}
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/dashboard.css" />
</head>
<body>
    {% include "high_ui/dashboard_header.html" %}
    <div class="content-container">
        <div class="content">
            {% for company in companies %}
            <div class='dashboard-container'>
                <div class="dashboard type-project">
                    <div class="dashboard-item dashboard-account">
                        <span class="dashboard-title">Compte</span>
                        <span class="dashboard-value"><a href="{{company.get_absolute_url}}" title="Accéder aux détails {{company}}">{{company}}</a></span>
                    </div>
                    <div class="dashboard-item dashboard-button">
                        <div class="dashboard-value">
                            <a href="/hymaintadmin/customers/company/{{company.pk}}/change/">Modifier</a> {# TMP #}
                        </div>
                    </div>
                    <div style="flex: 1"></div>
                    {% for contract in company.maintenancecontract_set.all %}
                    <div class="dashboard-item">
                        <span class="dashboard-title">{{contract.maintenance_type.name}}</span>
                        <span class="dashboard-value">{% pretty_print_contract_counter contract %}</span>
                    </div>
                    {% endfor %}
                    <div class="dashboard-item dashboard-button">
                        <div class="dashboard-value">
                            <a href="{% url 'high_ui:company-add_issue' company_id=company.id %}">Enregistrer une demande</a>
                        </div>
                    </div>
                </div>

                <div class="project-details">
                    <div class="project-user-list">
                        <div class="dashboard">
                            <div class="dashboard-item project-detail">
                                <span class="dashboard-title">Intervenants</span>
                                <span class="dashboard-value">{{maintainers.count}}</span>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{% url 'high_ui:company-add_maintainer' company_id=company.id %}" title="Créer un nouvel intervenant et l'ajouter à ce projet">Nouveau</a>
                                </div>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{# TODO #}" title="Modifier la liste des intervenants de ce projet">Modifier la liste</a>
                                </div>
                            </div>
                        </div>
                        <div class="project-users">
                            {% for maintainer in maintainers %}
                            <div>{{maintainer.get_full_name}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="project-user-list">
                        {% with company.maintenanceuser_set.all as managers %}
                        <div class="dashboard">
                            <div class="dashboard-item project-detail">
                                <span class="dashboard-title">Managers</span>
                                <span class="dashboard-value">{{managers.count}}</span>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{% url 'high_ui:company-add_manager' company_id=company.id %}" title="Créer un nouveau manager et l'ajouter à ce projet">Nouveau</a>
                                </div>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{# TODO #}" title="Modifier la liste des managers de ce projet">Modifier la liste</a>
                                </div>
                            </div>
                        </div>
                        <div class="project-users">
                            {% for manager in managers %}
                            <div>{{manager.get_full_name}}</div>
                            {% endfor %}
                        </div>
                        {% endwith %}
                    </div>

                    <div class="project-user-list">
                        {% with company.maintenanceconsumer_set.all as consumers %}
                        <div class="dashboard">
                            <div class="dashboard-item project-detail">
                                <span class="dashboard-title">Salariés</span>
                                <span class="dashboard-value">{{consumers.count}}</span>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{% url 'high_ui:company-add_consumer' company_id=company.id %}" title="Créer un nouveau salarié et l'ajouter à ce projet">Nouveau</a>
                                </div>
                            </div>
                            <div class="dashboard-item dashboard-button">
                                <div class="dashboard-value">
                                    <a href="{# TODO #}" title="Modifier la liste des salariés de ce projet">Modifier la liste</a>
                                </div>
                            </div>
                        </div>
                        <div class="project-users">
                            {% for consumer in consumers %}
                            <div>{{consumer}}</div>
                            {% endfor %}
                        </div>
                        {% endwith %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True %}
</body>
</html>
