{% load i18n print_fields print_files %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
<title>Maintenance {{general_info.name}} &mdash; {{object.company.name}}, {% trans "issue of" %} {{object.get_counter_name}} {% trans "#" %}{{object.id}}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/detailview.css" />
{% if company.color %}
<style>
.dashboard.dark .dashboard-button a:hover, .dashboard.light .dashboard-button a:hover {
    background-color: white;
    color: {{company.color}};
}
</style>
{% endif %}
</head>
<body>
    {% include "high_ui/issue_details_header.html" %}
    <div class="content-container">
        <div class="home-link-header {{object.contract.maintenance_type.css_class}}">
            <a href="{% url 'high_ui:dashboard' %}" title="{% trans "Return to dashboard" %}">Accueil</a> &nbsp;/&nbsp;
            <span>{% trans "Issue #" %}{{object.company_issue_number}}</span> &nbsp;
            {% if request.user.has_operator_or_admin_permissions %}
            <div class="dashboard-item dashboard-button">
                <a href="{% url 'high_ui:project-update_issue' company_issue_number=object.company_issue_number company_name=object.company.slug_name %}">{% trans "Modify" %}</a>
            </div>
            <div class="dashboard-item dashboard-button">
                <a href="{% url 'high_ui:project-archive_issue' company_issue_number=object.company_issue_number company_name=object.company.slug_name %}">{% trans "Archive" %}</a>
            </div>
            {% endif %}
         </div>
        <div class="content">
            <div class="container details-container">
                <div class="container-title">{% trans "Issue #" %} {{object.company_issue_number}} &mdash; {{object.subject}}</div>
                <div class="property-container">
                    <span class="property-key">{% trans "Author" %}</span>
                    <span class="property-value">{{object.who_ask}}</span>
                </div>
                <div class="property-container">
                    <span class="property-key">{% trans "Date" %}</span>
                    <span class="property-value">{{object.date|date:"d/m/Y"}}</span>
                </div>
                {% if object.incoming_channel %}
                <div class="property-container">
                    <span class="property-key">{% trans "Channel" %}</span>
                    <span class="property-value">{{object.incoming_channel}}</span>
                </div>
                {% endif %}
                <div class="property-container property-multiline">
                    <span class="property-key">{% trans "Details" %}</span>
                    <span class="property-value">{{object.description|linebreaksbr}}</span>
                </div>
                {% if object.context_description_file %}
                <div class="property-container">
                    <span class="property-key">{% trans "Attachment" %}</span>
                    <a class="property-value" href="{{object.context_description_file.url}}" target="_blank">{{object.context_description_file|file_name}}</a>
                </div>
                {% endif %}
            </div>

            <div class="container resolution-container {{object.contract.maintenance_type.css_class}}">
                <div class="container-title">{% trans "Resolution" %}</div>
                <div class="property-container">
                    <span class="property-key">{% trans "Operator" %}</span>
                    <span class="property-value">{{object.user_who_fix.first_name}} {{object.user_who_fix.last_name}}</span>
                </div>
                <div class="property-container">
                    <span class="property-key">{% trans "Activity" %}</span>
                    <span class="property-value type-tag">{{object.get_counter_name}}</span>
                </div>
                <div class="property-container">
                    <span class="property-key">{% trans "Time spent" %}</span>
                    <span class="property-value duration">{% pretty_print_minutes_tag object.number_minutes use_long_minute_format=True %}</span>
                </div>
                {% if object.resolution_date %}
                <div class="property-container">
                    <span class="property-key">{% trans "Resolution" %}</span>
                    <span class="property-value">{{object.resolution_date|date:"d/m/Y"}}</span>
                </div>
                {% endif %}
                {% if object.shipping_date %}
                <div class="property-container">
                    <span class="property-key">{% trans "Delivery" %}</span>
                    <span class="property-value">{{object.shipping_date|date:"d/m/Y"}}</span>
                </div>
                {% endif %}
                <div class="property-container property-multiline">
                    <span class="property-key">{% trans "Comments" %}</span>
                    <span class="property-value">{{object.answer|linebreaksbr}}</span>
                </div>
                {% if object.resolution_description_file %}
                <div class="property-container">
                    <span class="property-key">{% trans "Attachment" %}</span>
                    <a class="property-value" href="{{object.resolution_description_file.url}}" target="_blank">{{object.resolution_description_file|file_name}}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True company=object.company %}
</body>
</html>
