{% load i18n print_fields %}
<div class="dashboard {{object.contract.maintenance_type.css_class}}" {% if company.color %}style="background:{{company.color}};"{% endif %}>
    {% if company.logo %}<div class="dashboard-logo"><img src="{{company.logo.url}}"/></div>{% endif %}
    <div class="dashboard-item dashboard-account">
        <span class="dashboard-title">{% trans "Account" %}</span>
        <span class="dashboard-value"><a href="{% url 'high_ui:dashboard' %}" class="home-link" title="Retour à l'accueil">{{object.company.name}}</a></span>
    </div>
    <div class="dashboard-item">
        <span class="dashboard-title">{% trans "Issue #" %}</span>
        <span class="dashboard-value">{{object.company_issue_number}}</span>
    </div>
    <div class="dashboard-item item-activity">
        <span class="dashboard-title">{% trans "Activity" %}</span>
        <span class="dashboard-value">{{object.get_counter_name}}</span>
    </div>
    <div class="dashboard-item">
        <span class="dashboard-title">{% trans "Time spent" %}</span>
        <span class="dashboard-value">{% pretty_print_minutes_tag object.number_minutes use_long_minute_format=True %}</span>
    </div>
    <div class="dashboard-item dashboard-contact">
    {% if not request.user.has_operator_or_admin_permissions %}
        <span class="dashboard-title">{% trans "Your Contact" %}</span>
        <span class="dashboard-value">{% pretty_print_name company.contact.first_name company.contact.last_name %}</span>
    </div>
    <div class="dashboard-item dashboard-user">
    {% endif %}
	<span class="dashboard-title">{% if request.user.has_operator_or_admin_permissions %}{{general_info.name}}{% else %}{{request.user.company}}{% endif %}</span>
        <span class="dashboard-value"><a href='{% url 'high_ui:update_user' %}'>{% pretty_print_name request.user.first_name request.user.last_name %}</a></span>
    </div>
    <div class="dashboard-item dashboard-button">
        <div class="dashboard-value">
            <a href="/logout" title="{% trans "Quit the application" %}">{% trans "Logout" %}</a>
        </div>
    </div>
</div>
