{% load i18n print_fields %}

<!DOCTYPE html>
<html>
<head>
<title>Maintenance Hybird &mdash; {{object.company.name}}, demande de {{object.get_counter_name}} n° {{object.id}}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/detailview.css" />
</head>
<body>
    {% include "high_ui/issue_details_header.html" %}
    <div class="content-container">
        <div class="home-link-header {{object.maintenance_type.css_class}}">
            <a href="/" title="Retour à l'accueil">Accueil</a> &nbsp;/&nbsp;
            <span>Demande n°{{object.id}}</span> &nbsp;
            <div class="dashboard-item dashboard-button">
                <a href="{% url 'high_ui:change_issue' pk=object.id %}">Modifier</a>
            </div>
         </div>
        <div class="content">
            <div class="container details-container">
                <div class="container-title">Demande n° {{object.id}} &mdash; {{object.subject}}</div>
                <div class="property-container">
                    <span class="property-key">Auteur</span>
                    <span class="property-value">{{object.who_ask}}</span>
                </div>
                <div class="property-container">
                    <span class="property-key">Date</span>
                    <span class="property-value">{{object.date|date:"d/m/Y"}}</span>
                </div>
                {% if object.incoming_channel %}
                <div class="property-container">
                    <span class="property-key">Canal</span>
                    <span class="property-value">{{object.incoming_channel}}</span>
                </div>
                {% endif %}
                <div class="property-container property-multiline">
                    <span class="property-key">Détails</span>
                    <span class="property-value">{{object.description|linebreaksbr}}</span>
                </div>
            </div>

            <div class="container resolution-container {{object.maintenance_type.css_class}}">
                <div class="container-title">Résolution</div>
                <div class="property-container">
                    <span class="property-key">Intervenant</span>
                    <span class="property-value">{{object.user_who_fix.first_name}} {{object.user_who_fix.last_name}}</span>
                </div>
                <div class="property-container">
                    <span class="property-key">Activité</span>
                    <span class="property-value type-tag">{{object.get_counter_name}}</span>
                </div>
                <div class="property-container">
                    <span class="property-key">Temps passé</span>
                    <span class="property-value duration">{% pretty_print_minutes object.number_minutes use_long_minute_format=True %}</span>
                </div>
                {% if object.resolution_date %}
                <div class="property-container">
                    <span class="property-key">Résolution</span>
                    <span class="property-value">{{object.resolution_date|date:"d/m/Y à H\hi"}}</span>
                </div>
                {% endif %}
                {% if object.shipping_date %}
                <div class="property-container">
                    <span class="property-key">Livraison</span>
                    <span class="property-value">{{object.shipping_date|date:"d/m/Y à H\hi"}}</span>
                </div>
                {% endif %}
                <div class="property-container property-multiline">
                    <span class="property-key">Commentaire</span>
                    <span class="property-value">{{object.answer|linebreaksbr}}</span>
                </div>
            </div>
        </div>
    </div>
    {% include "high_ui/footer.html" with show_menu_client=True company=object.company %}
</body>
</html>
