{% load i18n print_fields %}
<div class="dashboard {% if contracts %}{{contracts.0.maintenance_type.css_class}}{% else %}type-maintenance{% endif %}">
    <div class="dashboard-item dashboard-account">
		{% if request.user.is_staff %}
        <span class="dashboard-title">{% trans "Tableau de bord" %}</span>
        <span class="dashboard-value"><a href="{% url 'high_ui:dashboard' %}" class="home-link" title="Retour à l'accueil">Hybird</a></span> {# TMP: names and urls are hardcoded until "maintenance providers" are added #}
		{% else %}
        <span class="dashboard-title">{% trans "Account" %}</span>
        <span class="dashboard-value"><a href="{% url 'high_ui:dashboard' %}" class="home-link" title="Retour à l'accueil">{{request.user.company}}</a></span>
		{% endif %}
    </div>

    <div class="dashboard-item dashboard-contact">
	<span class="dashboard-title">{% if request.user.is_staff %}Hybird{% else %}{{request.user.company}}{% endif %}</span>
        <span class="dashboard-value"><a href='{% url 'high_ui:update_user' %}'>{% pretty_print_name request.user.first_name request.user.last_name %}</a></span>
    </div>
    <div class="dashboard-item dashboard-button">
        <div class="dashboard-value">
            <a href="/logout" title="Quitter l'application">{% trans "Disconnect" %}</a>
        </div>
    </div>
</div>
