.form-content {
    min-height: auto;
}

.help + .form-row {
    margin-top: 15px;
}

/* counter-activation state machine */

.form-group.activation-inactive .row-counter-type,
.form-group.activation-inactive .row-credit,
.form-group.activation-inactive .row-email-alert,
.form-group.activation-inactive .row-credit-min,
.form-group.activation-inactive .row-recipient,
.form-group.activation-inactive .help-email-alert,
.form-group.activation-inactive .help-credit,
.form-group.activation-inactive .show-more-container {
    display: none;
}

.form-group.activation-active .help-activation > span:not(.activation-active),
.form-group.activation-hidden .help-activation > span:not(.activation-hidden),
.form-group.activation-inactive .help-activation > span:not(.activation-inactive) {
    display: none;
}

/* counter-type state machine */

.form-group.counter-total .row-credit,
.form-group.counter-total .row-email-alert,
.form-group.counter-total .row-credit-min,
.form-group.counter-total .row-recipient,
.form-group.counter-total .help-email-alert {
    display: none;
}

.form-group.counter-total .help-credit > span:not(.counter-total),
.form-group.counter-credit .help-credit > span:not(.counter-credit) {
    display: none;
}

/* alert-status state machine */

.form-group.email-alert-disabled .row-credit-min,
.form-group.email-alert-disabled .row-recipient {
    display: none;
}

.form-group.email-alert-disabled .help-email-alert > span:not(.email-alert-disabled),
.form-group.email-alert-enabled .help-email-alert > span:not(.email-alert-enabled) {
    display: none;
}

/* credit-recurrence state machine */

.form-group.has-credit-recurrence-disabled .row-credit-recurrence,
.form-group.has-credit-recurrence-disabled .row-recurrence-start-date,
.form-group.has-credit-recurrence-disabled .row-hours-to-credit {
    display: none;
}

.form-group.has-credit-recurrence-disabled .help-has-credit-recurrence > span:not(.has-credit-recurrence-disabled),
.form-group.has-credit-recurrence-enabled .help-has-credit-recurrence > span:not(.has-credit-recurrence-enabled) {
    display: none;
}

.form-group.has-credit-recurrence-disabled .help-recurrence-next-date > span:not(.has-credit-recurrence-disabled),
.form-group.has-credit-recurrence-enabled .help-recurrence-next-date > span:not(.has-credit-recurrence-enabled) {
    display: none;
}
