.content {
    padding-top: 20px;
}

/* form field overrides: duration */

.form-row-duration .form-value {
    width: 100%;
}

.form-row-duration input {
    border: none;
    border-bottom: 1px solid #ccc;
    max-width: 40px;
    min-width: auto;
    text-align: right;
    margin-right: 10px;
}

.form-row-duration.form-error input {
    border-color: red;
}

/* form field overrides - end */
