.content-container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.dashboard .dashboard-item:first-child .dashboard-title,
.dashboard .dashboard-item:first-child .dashboard-value {
    text-align: left;
}

.dashboard.type-project {
    background: #38c991;
/*    background: #39CCCC;*/
    color: white;
/*    color: #094848;*/
}

.dashboard.type-project .dashboard-button a:hover {
    background-color: white;
    color: #30b07f /* hsl(157, 57%, 44%) */;
}

.dashboard.type-project .dashboard-item + .dashboard-item {
/*    border-color: #094848;*/
    border-color: #d3e9df;
}

.dashboard-button {
    white-space: nowrap;
}

/**/

.dashboard-container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ccc;
    background: white;
    min-width: 1100px;
}

.dashboard-container + .dashboard-container {
    margin-top: 20px;
}

.project-details {
    display: flex;
    padding: 20px 0;
}

.project-details .project-detail {
    flex: 1;
}

.project-details .project-detail .dashboard-title {
    margin-top: 8px;
    min-width: 115px;
}

.project-details .project-detail .dashboard-value {
    min-width: 10px;
}

.project-details .dashboard-button {
    margin: 0;
    padding: 0;
}

.project-details .dashboard-button a {
    opacity: 0.7;
}

.project-details .dashboard-button a:hover {
    background: #ddd;
    color: #666;
    opacity: 1;
}

.project-user-list {
    flex: 1;
    width: 350px;
}

.project-user-list + .project-user-list {
    margin-left: 25px;
    border-left: 1px solid #ccc;
    padding-left: 25px;
}

.project-user-list .dashboard {
    padding-top: 0;
    padding-bottom: 0;
}

.project-user-list:not(:first-child) .dashboard {
    padding-left: 0;
}

.project-user-list:not(:last-child) .dashboard {
    padding-right: 0;
}


.project-user-list .dashboard-button {
    border: none;
}

.project-users {
    margin-top: 12px;
}

.project-user-list:first-child .project-users {
    padding-left: 20px;
}

.project-users div {
    margin-top: 8px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #666;
}

.project-users div a {
    color: #666;
}

.project-users div:last-child {
    margin-bottom: 8px;
}

/**/

.dashboard-container .dashboard-button + .dashboard-button {
    margin-left: 0;
    padding-left: 10px;
}

.dashboard.type-project {
    height: 85px;
}
