.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* home */

.home-container {
    padding-bottom: 20px;
}

.home-container .container-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.home-month {
    margin-top: 15px;
}

.home-month + .home-month {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.home-container .dashboard-item .dashboard-value {
    font-size: 18px;
    text-transform: lowercase;
}

.home-container .dashboard {
    padding: 0;
}

.home-container .dashboard-title {
    font-weight: 600;
}

.home-container .home-month-issues {
    flex: 1;
    border-left: 0;
}

.home-container .dashboard-item + .dashboard-item {
    border-color: #ccc;
}

.home-items {
    margin-top: 20px;
    margin-left: 2px;
    border-left: 2px solid #ccc;
    width: 100%;
}

.home-item-date {
    text-align: left;
    padding-left: 15px;
    width: 60px;
    font-weight: 600;
    color: #666;
}

.home-item-duration {
    text-align: right;
    padding-left: 15px;
    width: 50px;
}

.home-item-type {
    padding: 0 20px;
    vertical-align: top;
    width: 160px;
}

.home-item-summary {
    font-weight: 600;
    padding-bottom: 8px;
}

.home-items .home-item:last-child .home-item-summary {
    padding-bottom: 4px;
}

/* home - end */

/* operation-type specific colors */

.summary-item .type-maintenance .duration,
.home-container .dashboard-item.type-maintenance,
.home-item.type-maintenance .duration {
    color: #3D9970;
}

.summary-item .type-support .duration,
.home-container .dashboard-item.type-support,
.home-item.type-support .duration {
    color: #0074D9;
}

/* operation-type specific colors - end */
