/* copypasta from style.css */

/* dashboard */

.dashboard {
    display: flex;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

.dashboard a {
    color: currentColor;
}

.dashboard a.home-link:hover {
    text-decoration: none;
}

.dashboard-item {
    display: inline-flex;
    flex-direction: column;
}

.dashboard-item + .dashboard-item {
    margin-left: 25px;
    border-left: 1px solid transparent;
    padding-left: 25px;
}

.dashboard-title {
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}

.dashboard-value {
    font-size: 25px;
    text-align: right;
    color: currentColor;
    margin-top: 3px;
}

.dashboard .dashboard-item:first-child .dashboard-title,
.dashboard .dashboard-item:first-child .dashboard-value {
    text-align: left;
}

.dashboard-item.dashboard-contact {
    flex: 1;
    border-left: 0;
    justify-content: center;
}

.dashboard-item.dashboard-user {
    padding-left: 5px;
    border-left: 0;
    justify-content: center;
}

.dashboard-contact .dashboard-value,
.dashboard-user .dashboard-value {
    font-weight: 600;
    font-size: 13px;
}

.dashboard-button .dashboard-value {
    flex: 1;
    margin: 0;
}

.dashboard-button a {
    padding: 3px 8px;

    border: 1px solid currentColor;
    border-radius: 4px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;

    color: currentColor;
    transition: all 0.2s ease-in-out;
}

.dashboard-button a:hover {
    text-decoration: none;
}

/* dashboard - end */

/* dashboard types themes */

/* maintenance = greens */

.dashboard.type-maintenance {
    background: #3D9970;
    color: white;
}

.dashboard.type-maintenance .dashboard-title {
    color: #edf8f3;
}

.dashboard.type-maintenance .dashboard-button a:hover {
    background-color: white;
    color: #3D9970;
}

.dashboard.type-maintenance .dashboard-item + .dashboard-item {
    border-color: #a5d3be;
}

/* support = blues */

.dashboard.type-support {
    background: #0074D9;
    color: white;
}

.dashboard.type-support .dashboard-title {
    color: #edf3f8;
}

.dashboard.type-support .dashboard-button a:hover {
    background-color: white;
    color: #0074D9;
}

.dashboard.type-support .dashboard-item + .dashboard-item {
    border-color: #a6bfd3;
}

/* correction = grays */

.dashboard.type-correction {
    background: #ddd;
    color: #666;
}

.dashboard.type-correction .dashboard-title {
    color: #666;
}

.dashboard.type-correction .dashboard-button a:hover {
    background-color: #ccc;
    color: #666;
}

.dashboard.type-correction .dashboard-item + .dashboard-item {
    border-color: #999;
}

/* dashboard types themes - end */

/* clearfix */

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/* clearfix - end */

/* generic icons experiments */

svg.icon {
    position: relative;
    fill: currentColor;
}

.icon.icon-telephone {
    width: 14px;
    height: 14px;

    top: 2px;
}

.footer .footer-column .icon-telephone {
    margin-right: 2px;
}

.icon.icon-email {
    width: 14px;
    height: 14px;

    top: 3px;
    opacity: 0.92;
}

.footer .footer-column .icon-email {
    margin-right: 2px;
}

.icon.icon-telephone:hover {
    animation: shake 0.1s steps(2) 5 5s,
               shake 0.1s steps(2) 8 6.5s,
               shake 0.1s steps(2) 5 8s;
}

@keyframes shake {
  from { transform: translateX(-1px); }
  to   { transform: translateX(1px); }
}

/* generic icons experiments - end */

/* end of page decoration */

.icon-hybird {
    width: 22px;
    height: 20px;

    fill: currentColor;
    position: relative;
    top: -3px;

    transition: transform 0.5s ease-in-out 5s;
}

.icon-hybird:hover {
    transform: rotate(720deg);
}

.page-decoration {
    margin: 15px 15px 0 15px;
    color: #bbb;
    display: flex;
    align-items: center;
}

.page-decoration > * {
    display: inline-block;
}

.page-decoration div {
    flex: 1;
    border-top: 1px solid currentColor;
    height: 7px;
}

.page-decoration .icon-hybird {
    margin: 0 5px;
}

/* end of page decoration - end */

/* giant footer */

.footer {
    margin-top: 15px;

    padding-top: 15px;
    padding-bottom: 25px;

    padding-left: 24px;
    padding-right: 24px;

    color: #fff;
    font-weight: 600;

    font-size: 12.8px;

    background-color: #333;
    background-position: left -30px;
}

.footer .footer-baseline strong {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #479ef5;
}

.footer .footer-baseline-version {
    margin-left: 10px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #bbb;
}

.footer a {
    color: #fff;
}

.footer .footer-baseline a {
    color: inherit;
}

.footer a:hover {
    color: #479ef5;
}

.footer ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.footer-columns {
    margin-top: 26px;
    line-height: 18px;
}

.footer-columns .footer-column {
    float: left;
    width: 25%;
}

.footer-columns .footer-column-client {
    width: 50%;
}

.footer-columns .column-content {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.footer-columns .footer-column-creme .column-content {
    margin: 0;
}

.footer .column-content::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #bfbfbf;
    top: -10px;
}

.footer .footer-column-title {
    display: inline-block;
    position: relative;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.footer .footer-column-title .icon-hybird {
    position: absolute;
    right: -25px;
    top: -5px;
}

.footer .footer-column-creme li {
    margin-top: 5px;
}

.footer .hybird-phone {
    margin-top: 10px;
}

.footer .hybird-address {
    margin-top: 10px;
}

/* copypasta - end */

/* copypasta from forms.css */
/* form rows */

.form-row {
    display: flex;
    align-items: center;
}

.form-row + .form-row {
    margin-top: 7px;
}

.form-row label {
    min-width: 150px; /* eyeballed */
}

.form-row.form-label-row {
    flex-direction: column;
    align-items: stretch;
    margin-top: 11px;
}

.form-row.form-label-row .form-value,
.form-row.form-label-row input,
.form-row.form-label-row textarea,
.form-row.form-label-row select {
    margin-top: 5px;
}

/* form rows - end */
/* segmented selector */

.segmented-selector {
    border: 1px solid transparent;
    display: inline-flex;
    width: 100%;
    border-radius: 4px;

    max-width: 300px;
}

.segmented-selector a {
    display: inline;
    flex-grow: 1;

    padding: 5px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    font-size: 11px;
    font-weight: 700;

    color: #000;
    transition: all 0.2s ease-in-out;
}

.segmented-selector a.active {
    color: #fff;
}

.segmented-selector a.active:first-child {
    border-radius: 2px 0px 0px 2px;
}

.segmented-selector a.active:last-child,
.segmented-selector a.active:last-of-type {
    border-radius: 0px 2px 2px 0px;
}

/* type themes - maintenance */

.segmented-selector.type-maintenance {
    border-color: #3D9970;
}

.segmented-selector.type-maintenance a.active {
    background: #3D9970;
}

.segmented-selector.type-maintenance a.inactive {
    color: #3D9970;
}

.segmented-selector.type-maintenance a.inactive + a.inactive {
    border-left: 1px solid #3D9970;
}

.segmented-selector.type-maintenance a.inactive:hover {
    background: hsla(153, 43%, 42%, 0.05);
}
/* type themes - maintenance - end */
/* type themes - support */

.segmented-selector.type-support {
    border-color: #0074D9;
}

.segmented-selector.type-support a.active {
    background: #0074D9;
}

.segmented-selector.type-support a.inactive {
    color: #0074D9;
}

.segmented-selector.type-support a.inactive + a.inactive {
    border-left: 1px solid #0074D9;
}

.segmented-selector.type-support a.inactive:hover {
    background: hsla(208, 100%, 43%, 0.05);
}

/* type themes - support - end */

label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.help {
    font-size: 13px;
    line-height: 130%;
    margin-top: 5px;
}

/* copypasta - end */
