/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light-300.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular-400.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Regular-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Regular-400.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Semibold-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Semibold-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-Semibold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Bold-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Bold-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Zilla Slab */
/* TODO: _absolutely_ subset these, as they're only used in logos, titles, and bylines */

@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 500;
  src: local('Zilla Slab Medium'),
       local('ZillaSlab-Medium'),
       url(../fonts/ZillaSlab-Medium.woff2) format('woff2'),
       url(../fonts/ZillaSlab-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 600;
  src: local('Zilla Slab SemiBold'),
       local('ZillaSlab-SemiBold'),
       url(../fonts/ZillaSlab-SemiBold.woff2) format('woff2'),
       url(../fonts/ZillaSlab-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 500;
  src: local('Zilla Slab Medium Italic'),
       local('ZillaSlab-MediumItalic'),
       url(../fonts/ZillaSlab-MediumItalic.woff2) format('woff2'),
       url(../fonts/ZillaSlab-MediumItalic.woff) format('woff');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 600;
  src: local('Zilla Slab SemiBold Italic'),
       local('ZillaSlab-SemiBoldItalic'),
       url(../fonts/ZillaSlab-SemiBoldItalic.woff2) format('woff2'),
       url(../fonts/ZillaSlab-SemiBoldItalic.woff) format('woff');
}
