.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* summary */

.summary-items {
    width: 100%;
}

.summary-items th {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.summary-items td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.summary-items tr:first-child td {
    padding-top: 15px;
}

.summary-items tr:last-child td {
    border-bottom: 0;
}

.summary-month {
    text-align: left;
    vertical-align: top;
}

td.summary-month {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #2f2f2f;
}

.summary-type {
    text-align: left;
}

th.summary-type {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

/* summary - end*/

/* history */

.history-container .container-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.history-month {
    margin-top: 15px;
}

.history-month + .history-month {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.history-month-label {
    font-size: 16px;
    margin-bottom: 9px;
}

.history-month-summary {
    margin-top: 2px;
}

.history-month-type {
    display: inline-block;
    min-width: 100px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12.8px;
    color: #292929;
}

.history-month-text {
    margin-left: 10px;
}

.history-items {
    margin-top: 15px;
    margin-left: 2px;
    border-left: 2px solid #ccc;
    width: 100%;
}

.history-item-date {
    text-align: left;
    padding-left: 15px;
    width: 60px;
}

.history-item-duration {
    text-align: right;
    padding-left: 15px;
    width: 50px;
}

.history-item-type {
    padding: 0 20px;
    vertical-align: top;
    width: 160px;
}

.history-item-summary {
    font-weight: 600;
    padding-bottom: 8px;
}

.history-items .history-item:last-child .history-item-summary {
    padding-bottom: 4px;
}

/* history - end */

/* operation-type specific colors */

.summary-item .type-maintenance .duration,
.history-month-summary.type-maintenance .duration,
.history-item.type-maintenance .duration {
    color: #3D9970;
}

.summary-item .type-support .duration,
.history-month-summary.type-support .duration,
.history-item.type-support .duration {
    color: #0074D9;
}

/* operation-type specific colors - end */
